[2018-11-28 18:35] jamsajones opened #8 "Other partner integrations"

[2018-11-28 18:35] jamsajones opened #14 "Integration with Consul Service Discovery"
Primary mechanism will be via AWS Cloud Map. Work with Hashicorp to build two-way sync between Consul and Cloud Map
.

[2018-11-28 18:36] jamsajones opened #19 "Implement Health checks"

[2018-11-28 18:36] jamsajones opened #22 "Service call auditing"
Send our customers API call data to CloudTrail so customers can reliably audit their account activity.

[2018-11-28 18:36] jamsajones opened #24 "Fargate support for initializing Envoy"
Currently you cannot get elevated permissions in on a Fargate instacnce to change the iptables rules and route all traffic (ingress and egress) through Envoy.

[2018-11-28 18:36] jamsajones opened #30 "Easy mesh-wide Envoy bootstrapping process"

[2018-11-28 18:36] jamsajones opened #38 "Commit SigV4 auth addition to Envoy upstream"

[2018-11-29 03:06] vikramraman commented on #8
@jamsajones How can other partners integrate with AWS app mesh? I work on monitoring (metrics/tracing) at [Wavefront by VMware](https://www.wavefront.com/). We are very interested in learning more about how we can provide a native integration with app mesh. Please let us know. Thanks!

[2018-11-29 17:02] ilyash-b opened #46 "Unquoted variables in bash scripts"

[2018-11-30 17:33] zbintliff opened #49 "Clarification of "serviceNames" field across virtualRouter and virtualNodes"
From my understanding the [`"serviceNames"` in virtualRouters](https://github.com/awslabs/aws-app-mesh-examples/blob/master/examples/apps/colorapp/servicemesh/config/virtualrouters/colorteller-virtualrouter.json#L4) appmesh updates for you to point to the virtualRouters you define. That is if you define serviceNames "a" and "b" it will update the records in AWS Service discovery to point to your v

[2018-11-30 21:29] bcelenza commented on #49
The serviceNames used in App Mesh are referential -- that is they allow you to define what VirtualNodes you want to represent a given serviceName, and what VirtualRouter routes traffic for that serviceName. We use these references to tie together nodes and routes into CDS Clusters/RDS Routes, respectively.

For actually registering your AWS Service Discovery namespaces and endpoints, ECS handles t

[2018-11-30 21:48] zbintliff commented on #49
Sorry if my question wasn't clear. The `serviceName` in the router only represents the VirtualRouter itself not the services behind it. The namespace already exists (i see it created in the template). The nodes associated in the route can any other service?

To me it seems like the Virtual Router can receive traffic for `colorteller` but routes it to the `black/blue` (for canary).  Meaning the des

[2018-11-30 22:16] bcelenza commented on #49
Sorry for misunderstanding the initial question. It seems like your understanding (and example design) is correct.

Could you clarify this question specifically, just so I'm sure?

[2018-11-30 22:21] zbintliff commented on #49
Forgot a word! Supposed to read "The nodes associated in the route can **be** any other service?"

As in, the VirtualRouter can have service name `colorteller` but the Nodes in the Route assigned to the Router can be for service names `foo` and `bar`

[2018-11-30 23:00] kiranmeduri commented on #49
Yes, the service-names defined in virtual-router act as virtual-hosts in Envoy. A virtual-host can eventually route to a destination that is serving at different name. In most normal scenarios virtual-router and virtual-node are 1:1. In cases where a monolith is being migrated to component services, this separation will allow consumer virtual-nodes to be isolated from the change. For example store

[2018-12-01 01:50] zbintliff commented on #49
With all the tools there then, making envoy a front proxy is only a step or two away (minus the restrictions on input/output) to make it dynamic rather than an route update.

[2018-12-03 18:56] jamsajones commented on #46
@ilyash-b Thanks for your contriution.

[2018-12-03 18:56] #46 closed

[2018-12-03 19:29] ranga543 commented on #24
Is it fair to assume `App Mesh` does not support `AWS Fargate` yet ?

[2018-12-03 19:35] kiranmeduri commented on #49
(theoretically) yes, more on this will be discussed on #31 . For now closing this. Please re-open if you need more information. Thank you

[2018-12-03 19:35] #49 closed

[2018-12-03 21:56] jamsajones commented on #24
@ranga543 App Mesh does not support AWS Fargate yet. Running the aws-appmesh-proxy-route-manager requires NET_ADMIN which is not availble in Fargate. We are working with the Fargate team to solve this problem as soon as possible.

[2018-12-04 20:48] lavignes commented on #38
I've opened an issue regarding this in envoyproxy/envoy#5215. Currently exploring the feasibility of dropping the AWS SDK dependency.

[2018-12-05 01:10] jamsajones commented on #8
@vikramraman, we are happy to integrate with new partners. You can reach out to me directly at jsstraub at amazon dot com and I will put you in contact with our partner team to get things started.

[2018-12-05 11:19] dio commented on #38
This will be pretty if we can do something like:

[code]

The `aws_ec2` is similar to `google_compute_engine` which I believe is constructed here at https://github.com/grpc/grpc/blob/142acb3b0fd2b3586ad150691ddbe95a8bfdd73f/src/core/lib/security/credentials/oauth2/oauth2_credentials.cc#L378. Not sure if this is viable to do that by extending the `grpc::MetadataCredentialsPlugin`.

[2018-12-05 19:06] lavignes commented on #38
@dio Yes. We are doing something pretty much exactly like that in our custom envoy build. Envoy provides an API for plugin credentials, so we're specifying our `aws_iam` extension for our credentials factory.

A bootstrap right now contains something like this:
[code]

[2018-12-06 23:25] kiranmeduri opened #54 "Updates to routes have no effect on running envoys"
**What happened?**

Updates to routes have no effect on running envoys

**What you expected to happen?**

Tasks must be restarted for route changes to take effect.

**How to reproduce it (as minimally and precisely as possible)?**

_Not easy to reproduce as it happens sporadically. Seems to be an issue with XDS protocol_

1. Create two virtual-nodes with a route between them (A→B).
2. Verify the r

[2018-12-11 17:19] johnnorton commented on #24
Is there a way to configure the service container to use then envoy proxy so we don't have to change IPTables?

[2018-12-11 21:58] akahen opened #56 "integration with lambda"

[2018-12-12 20:39] bcelenza commented on #56
Hey @akahen, thanks for opening an issue for this. Would love to hear more about how you would use App Mesh with Lambda:

- Would you use the Lambda as a service, an ad-hoc/scheduled (mesh-aware) task, both?
- Do you use API Gateway with Lambda for service request routing, AuthN/AuthZ, etc.? For a similar service in App Mesh, would you would want to keep it in place for ingress at the edge (i.e. R

[2018-12-16 19:59] augustorosa commented on #56
I would love a use case of APIgateways and lambdas to give you the answer above. Many api gateways against many lambdas with S3 /cloudfront frontend. This is a pretty common pattern.

[2018-12-19 18:45] bcelenza opened #58 "[BUG] Version numbers in Envoy resource names cause connection failures, changing metric names"
**Describe the bug**
Resources vended via the Envoy Management Service contain unique version numbers that may change when new configuration is generated. This may cause TCP connections proxied by Envoy to fail, or HTTP connections to be prematurely drained due to resource replacement. It also causes some of Envoy's generated metrics to contain the version numbers, which makes it difficult to trac

[2018-12-19 18:50] bcelenza commented on #54
This issue should now be resolved in all production regions. Please re-open if the issue recurs.

[2018-12-19 18:50] #54 closed

[2018-12-19 20:10] dastbe opened #59 "Externalize App Mesh Envoy Image DockerFiles, Build Scripts"
As part of #16 , we want customers to be able to

1. Build our canonical images from source
2. Bring your own Envoy (BYOE!) to our existing build scripts

[2018-12-21 16:37] Vittoriusly commented on #56
Mainly APIGateway + Lambdas and AppSync.

Are you planning to add a wrapper like X-Ray? Or go really down-level and talk with the Nitro/Hyperplane team (the "Mesh everything" world)?

[2018-12-26 15:26] gangakrishh opened #61 "Question : where is cloudformation template for create ALB for color-gateway app"
Question : where is cloudformation template to create ALB for color-gateway app

[2018-12-26 17:02] bcelenza commented on #61
Hey @gangakrishh , our examples don't ship with a load balancer yet. That said, setting one up within the existing templates would be a great contribution, so leaving this issue open.

[2018-12-26 17:05] bcelenza commented on #56
We'd love to hear more customer use cases before narrowing down on the approach, but both ideas are interesting!

[2018-12-27 23:00] charles-d-burton opened #62 "External Routing (HTTP/TCP with TLS)"
I can't find it in the documentation, but is it possible to have routing to an external service?  Meaning I have appmesh in place and the container/microservice needs to connect to an externally managed service like gitlab?  I added the URL as a backend to the virtual node but whenever it attempts to connect I get this error:

ENVOY LOG:
original_dst: New connection accepted
[2018-12-27 22:55:11.5

[2018-12-31 16:13] charles-d-burton commented on #62
Gotcha, it's a TLS problem then because our service is TLS only.

[2019-01-02 17:22] charles-d-burton commented on #56
I think giving Appmesh the ability to directly invoke a lambda would be extremely powerful.  For instance I've used Kong in the past to invoke Lambda on an HTTP request and used it as an arbiter between services that run in lambda and those that run in docker or some other long running process.  The implications of having a mesh that can interface EKS/Docker/ECS directly with Lambda are huge.

[2019-01-05 21:21] kennovak-zy commented on #56
We have an API server with many endpoints.  It's currently implemented as a monolithic service, and we are transitioning it into a set of micro-services, each of which handles a subset of the API's routes.  Some of the micro-services are implemented in containers, and many will be implemented as lambdas.  So having requests routed to both containers and lambdas is super-useful.

[2019-01-08 01:07] bcelenza commented on #58
A fix for this bug has been deployed to all regions.

[2019-01-08 01:07] #58 closed

[2019-01-08 07:34] QAnders commented on #56
We have a ton of Lambdas running in basically three "layers". External (API's, datatransformation, validation), Internal (backe-end) and "workers" (schedulers, calling other API's, etc.).
We trigger Lambdas through APIGW and SQS mostly but a lot of Lambda Invoke and some S3 as well.
Our main problem is that it is becoming "messy" and difficult with versioning as we really have no way of handling v

[2019-01-08 15:51] bcelenza commented on #19
Active health checks are now available. You can specify TCP and HTTP health checks with custom thresholds and intervals on your VirtualNode definitions. See the [AWS App Mesh HealthCheckPolicy documentation](https://docs.aws.amazon.com/app-mesh/latest/APIReference/API_HealthCheckPolicy.html) for more information.

[2019-01-08 15:51] #19 closed

[2019-01-08 21:14] nefilim opened #67 "[BUG] Many errors when using mesh provisioning script"
**Describe the bug**
The example script complains about numerous errors, usually NotFoundException. From the script it looks like many resources are created in rapid succession, are these operations asynchronous and I'm running into a race condition here?

**Platform**
ECS
[code]
**To Reproduce**
./servicemesh/deploy.sh

**Expected behavior**
Expect the script to complete without errors

**Config

[2019-01-08 21:38] nefilim commented on #67
Took a quick look at the script, looks like a poor's man upsert perhaps?
Would it be a reasonable approach to delete resources first?

As an aside, the provide `delete.sh` also shows some errors:

[code]

If these are expected, maybe call them out in the README.md ?

[2019-01-09 00:50] lavignes commented on #38
Open pull request: https://github.com/envoyproxy/envoy/pull/5546

[2019-01-09 02:00] lavignes commented on #38
Resolving this in favor of: envoyproxy/envoy#5546

[2019-01-09 23:31] nefilim opened #71 "Information Request: Virtual Router serviceName"
Hi

Saw this issue: https://github.com/awslabs/aws-app-mesh-examples/issues/49 but still not very clear to me (new to ECS also).

What exactly does spec.serviceNames refer to? From this example, it appears to refer to a [DNS record created by the ECS Service Discovery](https://github.com/awslabs/aws-app-mesh-examples/blob/master/examples/apps/colorapp/ecs/ecs-colorapp.yaml#L51)

What is the spec.s

[2019-01-12 00:00] lavignes commented on #71
@nefilim

This is definitely an area we're looking to help clarify for our customers. We're compiling some information that might help. We'll update this issue when its ready.

But quickly:

Yes. All serviceNames need to be referenced. The virtual nodes in this example should have a `spec.serviceDiscovery.dns.serviceName` of `colorteller-black.colorteller.peteram.svc.cluster.local` and `colortelle

[2019-01-12 02:40] nefilim opened #73 "Question: Egress traffic from ECS Tasks"
Hi

I have noticed that none of my ECS Tasks created with envoy & aws-appmesh-proxy-route-manager containers as per documentation are able to make any outbound TCP connection, not to the internet, nor to other resources within the same VPC:

[code]

[2019-01-12 02:40] nefilim opened #74 "Question: Egress traffic from ECS Tasks"
Hi

I have noticed that none of my ECS Tasks created with envoy & aws-appmesh-proxy-route-manager containers as per documentation are able to make any outbound TCP connection, not to the internet, nor to other resources within the same VPC:

[code]

[2019-01-14 17:56] nefilim commented on #74
Ok I see now from https://github.com/awslabs/aws-app-mesh-examples/issues/71 why specifying the RDS endpoint in `spec.backends` doesn't help, there's no matching VirtualRouter that supports that serviceName.

[2019-01-14 19:02] nefilim commented on #71
Thank you, that added some useful colour.

[2019-01-14 19:04] ivitjuk commented on #71
No problem, closing this. Let me know if there is anything else I can help with.

[2019-01-14 19:04] #71 closed

[2019-01-14 19:10] bcelenza commented on #74
You should be able to model this by modeling the external site as it's own TCP VirtualNode with the DNS name in the `spec.serviceDiscovery.servceName` field. With it also defined in `spec.backends` in the downstream VirtualNode you've provided above, the destination should become available. The major caveat worth mentioning here is this will not currently work if `nitroclouddevseed.cbvidc7yzeub.us

[2019-01-14 19:13] bcelenza commented on #67
Your inclination is correct that this is a rough upsert in our shell scripts. We can improve the documentation here, and touch up the scripts to be a bit more clear. Will leave this issue open for that work.

[2019-01-14 20:06] dastbe commented on #38
Reopening this since we can't track the envoy PR in our roadmap project :(

[2019-01-14 21:50] ivitjuk opened #75 "Release Envoy 1.9.0"
https://github.com/envoyproxy/envoy/releases/tag/v1.9.0

[2019-01-16 17:10] nefilim commented on #74
That's not great to be honest, are there any plans on improving this?

[2019-01-16 19:22] bcelenza commented on #74
Yes, we are investigating ways to simplify the external passthrough use case, and TLS support is covered in #32, #33, and #34. Please upvote/comment on those issues if they are major blockers for you. We're of course looking for more customer feedback in this area.

[2019-01-17 00:17] jamsajones commented on #38
This ticket was to track until we opened a ticket upstream. We should close this and track it upstream. https://github.com/envoyproxy/envoy/pull/5580

[2019-01-17 00:17] #38 closed

[2019-01-17 00:19] jamsajones commented on #22
Intergration with CloudTrail is in its release cycle and will be delployed in the comming days. Work is complete and no more comments are needed. Thanks for playing everyone. Closing ticket.

[2019-01-17 00:19] #22 closed

[2019-01-17 20:29] bcelenza opened #76 "Simplify external service egress traffic setup"
As discussed in #74, the current way to model an external service that a service within the mesh can route to is by modeling the external service as a VirtualNode.  For example, if you had two services: Service-A and Service-B, and Service-B was an external service (e.g. gitlab) hosted at the DNS name `gitlab.my-intranet.com`, you would model your mesh configuration as:

Service-A:
[code]

Service

[2019-01-17 20:39] bcelenza commented on #62
Closing this in favor of #76 (egress traffic for external service) and #32, #33, #34 for TLS support. Please re-open this issue (or a new one) if you have any more questions.

[2019-01-17 20:39] #62 closed

[2019-01-17 20:49] bcelenza opened #77 "Clarify usage of ServiceNames"
Per discussions in #49 and #71, the usage of ServiceNames in the mesh are not abundantly clear in the current APIs and documentation.

The current use of ServiceNames as described by @ivitjuk:

1. **Linking together client and server VirtualNodes.** This is done by client VirtualNodes including the ServiceNames they want to speak to in the spec.backends section of their config. Please note that cl

[2019-01-19 10:50] shibataka000 opened #78 "[BUG] Can't Setup EKS Cluster"
**Describe the bug**
I setup EKS Cluster, but EKS Cluster has no worker node.

**Platform**
EKS

**To Reproduce**
Setup Infrastructure according to [examples](https://github.com/awslabs/aws-app-mesh-examples/tree/master/examples).

1. Export environment variables.
2. Setup Infrastructure. Make sure status of CloudFormation stack is `CREATE_COMPLETE`.

[code]

3. Prepare to use EKS Cluster accordin

[2019-01-19 10:55] shibataka000 commented on #78
I made sure EC2 Instance as worker nodes were launched. I logged in worker node and checked status of kubelet.

[code]

kubelet was failed.

[2019-01-19 11:21] shibataka000 opened #81 "[BUG] colorgateway does'nt work in EKS"
**Describe the bug**
k8s pod of colorgateway fail repeatedly.

**Platform**
EKS

**To Reproduce**
1. Setup infrastructure according to [examples](https://github.com/awslabs/aws-app-mesh-examples/blob/master/examples/README.md).
2. Deploy color-teller and color-gateway to EKS according to [colorapp](https://github.com/awslabs/aws-app-mesh-examples/blob/master/examples/apps/colorapp/README.md).

[co

[2019-01-24 00:40] bcelenza commented on #78
Thanks for reporting @shibataka000. We're looking at all of your PRs this week. Just wanted to give you an update on that. Thanks for all your contributions so far. 👍

[2019-01-24 02:33] Y0Username commented on #78
@shibataka000 Looked into this and it doesn't seem to be AMI problem. EKS Cluster should be active before creation of worker nodes. This PR #84 should fix it.

[2019-01-24 02:35] Y0Username commented on #81
Thanks @shibataka000. Merged #82. Closing this.

[2019-01-24 02:35] #81 closed

[2019-01-24 04:53] nckturner opened #85 "[BUG] APPMESH_APP_PORTS should not be required"
**Describe the bug**
Currently aws-appmesh-proxy-route-manager assumes that it is setting up iptables rules for a service and requires the environment variable APPMESH_APP_PORTS to be set.  However, there is a use-case for using envoy as a side-car to an application that is client only and has no open ingress ports.  In this case, the user would have to specify a fake port in order to launch the p

[2019-01-24 18:05] bcelenza commented on #78
Merged. @shibataka000 Can you retry from the latest in `master` and re-open if you still see the issue?

[2019-01-24 18:05] #78 closed

[2019-01-25 01:54] daparthi001 opened #86 "unable to download images envoy and proxy image"
**Describe the bug**
A clear and concise description of what the bug is.

**Platform**
EKS, ECS, EC2, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Config files, and API responses**
If applicable config files and responses from

[2019-01-25 16:17] bcelenza commented on #86
Hi @daparthi001, can you provide more information on where the download is failing? Are you pulling the image locally or through ECS/EKS? Could you provide the log or error you are seeing?

[2019-01-25 16:55] daparthi001 commented on #86
I am trying to pull images to ec2 with Kubernetes,Are you able to pull images from that ecr ?Do you know if I can pull from any another location ?
error:
no basic auth credentials

[2019-01-25 17:09] bcelenza commented on #86
I see, so it sounds like you're running Kubernetes directly on EC2? A few follow-up questions if thats the case:

1. What version of Kubernetes are you running?
2. Do your worker nodes have permissions to pull from ECR as [described here](https://kubernetes.io/docs/concepts/containers/images/#using-aws-ec2-container-registry)?

[2019-01-25 17:11] daparthi001 commented on #86
My Worker node doesn't have access to this ecr ,but configured to access my ecr

[2019-01-25 17:19] daparthi001 commented on #86
I am able to push/pull to my own ecr,but not able to pull from 111345817488.dkr.ecr.us-west-2
$ docker push 431450989016.dkr.ecr.us-east-1.amazonaws.com/color_teller:latest
The push refers to repository [431450989016.dkr.ecr.us-east-1.amazonaws.com/color_teller]
f6bdbdcdc08d: Pushed
latest: digest: sha256:ce7911c463ba15ccade7d6bf18a352df7028c864102ebf7228b8525018608249 size: 528
$ docker pull 1113

[2019-01-25 18:57] bcelenza commented on #86
This is a little bit of a guess, but I think you may not have a valid auth token for the `111345817488` registry in us-west-2. Even though the login command succeeded, you may only have a valid token assigned to your own registry (`431450989016`).

See [this reference](https://docs.aws.amazon.com/AmazonECR/latest/userguide/common-errors-docker.html#error-403). Although it mentions pushing to ECR,

[2019-01-25 19:26] #86 closed, assigned to nobody

[2019-01-26 15:41] daparthi001 opened #87 "Self-hosted Kubernetes cluster logging"
**Describe the bug**
Unable to configure the logs to cloudwatch

**Platform**
ec2 running kubernetes

Unable to send logs from the pods to cloudwatch as ECS ,any help on it ?

[2019-01-28 17:23] bcelenza commented on #87
Hey @daparthi001 , a few questions:

1. Could you provide some additional information on your Kubernetes/Pod configuration?
2. What specific logs are you trying to send from your pods?
3. Are you seeing any errors when attempting to transmit logs to CloudWatch?
4. You mention sending to CloudWatch as ECS. What do you mean by this? Is your Kubernetes setup running on ECS with EC2 launch type, or EC

[2019-01-28 18:50] daparthi001 commented on #87
We are kubernetes cluster on single node as part of my testing in sandbox environment .
I deployed the the application pods using the colorapp.yaml generated through below ,just replaced meshname and images and service domain .The yaml configuration file doesn't contain log related info as the ecs colorapp.yaml
kubernetes
https://github.com/awslabs/aws-app-mesh-examples/blob/master/examples/apps/c

[2019-01-28 18:56] daparthi001 opened #88 "unable to verify curl on color-gateway"
We hosted kubernetes cluster on single node ,deployed the colorapp.yaml to get the app running .
Failing to get the desired results.

root@curler-65d5db4cd9-mz9c2:/# bash
root@curler-65d5db4cd9-mz9c2:/# echo ${SERVICES_DOMAIN}
default.svc.cluster.local
root@curler-65d5db4cd9-mz9c2:/# curl -s http://colorgateway.${SERVICES_DOMAIN}:9080/color
root@curler-65d5db4cd9-mz9c2:/# curl -v -s http://colorga

[2019-01-28 19:14] daparthi001 commented on #88
#kubectl logs colorgateway-6988677b74-6c9gb colorgateway
2019/01/28 19:02:55 Sleeping for 60s to allow Envoy to bootstrap
2019/01/28 19:03:55 Starting server, listening on port 9080
2019/01/28 19:03:55 Using color-teller at colorteller.default.svc.cluster.local:9080
2019/01/28 19:03:55 Using tcp-echo at tcpecho.default.svc.cluster.local:2701
#kubectl logs colorteller-black-79b7784f7-7zk95 colortel

[2019-01-29 00:06] bcelenza commented on #87
I see. Yes, this is because Kubernetes does not have the same simplified log setup as ECS -- there's no direct 1:1 relationship between the two that I'm aware of (I could be wrong).

Here are a couple guides that can help you get logging stood up on your workers:

1. Sending Kubernetes logs to CloudWatch: https://blog.csanchez.org/2018/06/26/sending-kubernetes-logs-to-cloudwatch-logs-using-fluentd

[2019-01-29 00:21] bcelenza commented on #88
Could you provide the output of the following command?

[code]

[2019-01-30 16:01] daparthi001 commented on #88
if i use proxy

< HTTP/1.1 503 Service Unavailable
< Cache-Control: no-cache
< Pragma: no-cache
< Content-Type: text/html; charset=utf-8
< Proxy-Connection: Keep-Alive
< Connection: Keep-Alive
< Content-Length: 1031
<
<HTML><HEAD>
<TITLE>Network Error</TITLE>
</HEAD>
<BODY>
<FONT face="Helvetica">
<big><strong></strong></big><BR>
</FONT>
<blockquote>
<TABLE border=0 cellPadding=1 width="80%">
<TR>

[2019-01-30 22:32] dastbe opened #89 "Switch to wildcard DNS entry for service names in example"
Because we still require *some* DNS entry for applications to resolve *some* IP before it will make a request that envoy can proxy, the examples end up duplicating names across service discovery and router service names/backends. This leads to confusion because it's implied there's some coordination between the two when there isn't.

We can fix our example apps by creating a private hosted zone fo

[2019-01-31 20:20] bcelenza commented on #88
It looks like your Envoy Proxy may not be stood up completely. The `/config_dump` path should return the serialized JSON configuration of the proxy ([see here](https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/config_dump.proto)).

Could you review the logs of your Envoy Proxy? There may be a bootstrapping error.

[2019-02-01 03:21] daparthi001 commented on #88
Here are below errors

[2019-02-01 03:15:55.622][1][debug][upstream] source/common/config/grpc_mux_impl.cc:40] Establishing new gRPC bidi stream for rpc StreamAggregatedResources(stream .envoy.api.v2.DiscoveryRequest) returns (stream .envoy.api.v2.DiscoveryResponse);

[2019-02-01 03:16:16.394][1][debug][grpc] source/common/grpc/google_async_client_impl.cc:182] notifyRemoteClose 13
[2019-02-01 03:1

[2019-02-01 17:48] bcelenza commented on #88
Sorry, is there anything after 16:57:05? The last log line looks like your Envoy is initializing the bi-directional gRPC stream, so there should be a number of DiscoveryRequests and DiscoveryResponses that occur after it. This is likely where the problem occurred, if anywhere.

[2019-02-01 17:54] daparthi001 commented on #88
This is the remaining log from the envoy
[2019-02-01 16:57:05.991][1][debug][upstream] source/common/config/grpc_mux_impl.cc:40] Establishing new gRPC bidi stream for rpc StreamAggregatedResources(stream .envoy.api.v2.DiscoveryRequest) returns (stream .envoy.api.v2.DiscoveryResponse);

[2019-02-01 16:58:05.736][1][debug][grpc] source/common/grpc/google_async_client_impl.cc:182] notifyRemoteClose 1

[2019-02-01 21:50] lavignes commented on #88
I think we're seeing Envoy reach [this case](https://github.com/envoyproxy/envoy/blob/master/source/common/grpc/google_async_client_impl.cc#L263).

It looks like there is an error occurring on Envoy's end when establishing the gRPC connection to the Envoy Management Service.

Could be a connectivity issue, or maybe an SSL issue.

Looking at the `/config_dump` output from your Envoy may reveal an i

[2019-02-01 21:59] daparthi001 commented on #88
IS corporate Proxy need to be configured for communication ?

[2019-02-01 22:12] daparthi001 commented on #88
New logs after adding envoy parameters.
            - name: "GRPC_TRACE"
              value: "transport_security,connectivity_state,client_channel,server_channel"
            - name: "GRPC_VERBOSITY"
              value: "INFO"
Did not find Envoy configuration file at /tmp/envoy.yaml, creating one.
Starting Envoy.
[2019-02-01 22:07:12.866][1][info][misc] source/common/aws/aws_sdk_config.cc:66] Aw

[2019-02-01 22:36] daparthi001 commented on #88
why do we need to connect to public endpoint ?Do we need proxy for reaching that ip ?I tried from ec2 by sourcing my proxy config unable to connect that ip .

 source proxy.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    32  100    32    0     0  29547      0 --:--:-- --:--:-- --

[2019-02-04 18:19] daparthi001 commented on #88
Any update on this ?Do i need to open security groups to any subnet ?Can i bounce envoy on any private ip's ?

[2019-02-05 02:31] lavignes commented on #88
@daparthi001
@daparthi001
Your Envoy containers need to be able to reach `appmesh-envoy-management.us-east-1.amazonaws.com:443` (assuming us-east-1 from your logs) to download the configuration for the nodes in your service mesh. So I believe an internet gateway for your VPC is necessary right now.

[2019-02-12 19:14] jamsajones commented on #24
Closing in favor of issue #15.

[2019-02-12 19:14] #24 closed

[2019-02-12 19:43] #14 closed

[2019-02-12 21:35] #30 closed

[2019-02-14 21:42] daparthi001 commented on #88
i added the proxy to the envoy .it was able to connect still curl is not working .

Did not find Envoy configuration file at /tmp/envoy.yaml, creating one.
Starting Envoy.
[2019-02-14 19:44:10.669][1][info][misc] source/common/aws/aws_sdk_config.cc:66] Aws_Init_Cleanup Initiate AWS SDK for C++ with Version:1.6.39
[2019-02-14 19:44:10.669][1][info][misc] source/common/aws/aws_sdk_config.cc:66] Curl

[2019-02-14 22:24] daparthi001 commented on #88
i was able to curl on the red,blue and black but gateway i am having issues

root@curler-cc4fff495-m7zzr:/# curl 10.103.181.50:9080
blue
root@curler-cc4fff495-m7zzr:/# curl 10.105.196.203:9080
red
root@curler-cc4fff495-m7zzr:/# curl 10.101.183.138:9080
black
color gateway is not getting the output .
root@curler-cc4fff495-m7zzr:/# curl 10.100.241.66:9080/color
500 - Unexpected Error

root@curler-cc

[2019-02-14 22:43] daparthi001 commented on #88
i tried to curl the svc gateway 10000 times i couldn't get the color switched from white to another color .

[2019-02-14 22:58] daparthi001 commented on #88
curl on gateway is getting me the same color tried more than 10000 times
curl 10.111.8.209:9080/color
{"color":"white", "stats": {"white":1}}root@curler-cc4fff495-m7zzr:/# curl 10.111.8.209:9080/color
{"color":"white", "stats": {"white":1}}root@curler-cc4fff495-m7zzr:/# curl 10.111.8.209:9080/color
{"color":"white", "stats": {"white":1}}root@curler-cc4fff495-m7zzr:/# curl 10.111.8.209:9080/color
{

[2019-02-14 23:05] Y0Username commented on #88
@daparthi001 you need to update the routes using this [route canary script](../blob/master/examples/apps/colorapp/servicemesh/route_canary.sh) for the color gateway to hit the other color tellers.

[2019-02-15 18:13] daparthi001 commented on #88
@Y0Username I have switched traffic using canary.sh ,its taking more time to display just red ,being trying more than 15 mins ,is there way we can display output earlier ,it just displays blue only

 aws appmesh update-route --mesh-name appmesh --profile default --cli-input-json file:////root/aws-app-mesh-examples/examples/apps/colorapp/servicemesh/config/update_routes//colorteller-route-red-100.j

[2019-02-15 21:43] Y0Username commented on #88
This might need further investigation. Do you see your envoy configs(`/config_dump`) being updated as soon as you update routes?

[2019-02-22 22:56] bcelenza opened #92 "App Mesh API Revision - Developer Preview"
**What we're changing**
On March 7, 2019, the AWS App Mesh team will release a new, backward incompatible version of our APIs in the AWS SDKs. The primary change is the introduction of a new resource type, **VirtualService**, which replaces the use of **ServiceNames** in the current APIs. These changes are primarily focused on addressing potential confusion around ServiceNames in VirtualNodes and

[2019-02-25 15:44] ewbankkit commented on #92
A couple of questions:

I see that Amazon has created Virtual Services for currently configured backends:
[code]

Can we assume that there will be one new virtual service for each configured backend value and that virtual service will be named with that backend value (`colorgateway.mesh.svc.cluster.local` in the example above)?

Will the SDKs released on 3/7 (most of interest is the gloang SDK) ju

[2019-02-25 16:58] bcelenza commented on #92
@ewbankkit For all backends created on the current APIs, a VirtualService will exist on the new APIs, as this is to preserve backwards compatibility with the resources themselves. However, this is not the case for backends created with the new APIs -- they will not automatically create VirtualService resources. So you can define a backend in a VirtualNode and then later create the VirtualService b

[2019-02-28 23:54] dastbe opened #93 "[BUG] Routes to Target Virtual Nodes with Mismatched Ports Blackhole"
**Describe the bug**

When a Route targets Virtual Nodes whose listeners do not agree on the port, App Mesh
will fail to create a route in the Envoy configuration distributed to clients.

For example, the following Route

[code]

would not be distributed down to an Envoy subscribed to the Virtual Router. Worse, there is nothing in App Mesh APIs or Envoy configuration that would alert you that the

[2019-02-28 23:57] dastbe opened #94 "[FEATURE] Add Listeners to Virtual Routers"
## What we're changing

To provide a safer and more understandable experience when using Virtual Routers, we're proposing the addition of Virtual Router Listeners to the Virtual Router Spec. Instead of using target Virtual Nodes in a route to generate listeners in Envoy configuration, customers will define listener ports on the Virtual Router itself.

With this new feature, you can now abstract th

[2019-03-01 00:32] bcelenza commented on #92
Given this is already a breaking change, we've decided to make one additional fix in the VirtualRouter layer to prevent blackhole routes from occurring in Meshes. This change is a much smaller impact than the changes proposed here, but we'll likely roll them out at the same time to minimize customer impact.

See #93 for the bug report, and #94 for the proposed fix.

[2019-03-01 15:31] bcelenza commented on #77
Resolving this in favor of #92

[2019-03-01 15:31] #77 closed

[2019-03-05 21:14] seubert opened #95 "Configuring stats sinks"
First off, I'm not super well versed in Envoy nor Envoy configuration so apologies if this is an obvious answer. I'd like to configure the App Mesh Envoy deployment to use the `envoy.dog_statsd` sink to pull out Envoy metrics. However, I am not sure how to do this with App Mesh, specifically using the colorapp example as a sandbox. Is this a configuration lever that I have access to when using App

[2019-03-06 15:11] bcelenza commented on #95
Hey @seubert,

The `envoy.dog_statsd` sink is configured within the bootstrap configuration of Envoy (i.e. before it can reach out to our systems for dynamic configuration). At the moment, our bootstrap configuration is distributed with the `111345817488.dkr.ecr.us-west-2.amazonaws.com/aws-appmesh-envoy:v1.8.0.2-beta` docker image.

It is possible to provide a separate bootstrap config to Envoy th

[2019-03-06 15:47] seubert commented on #95
Thanks @bcelenza. More info on how to properly provide a separate bootstrap config would be great. Right now I've just copied the generated config from the running Envoy containers, added my own settings, and mounted it at /tmp/envoy.yaml to "override" the generated one. This works but isn't particularly clean and depends on your Dockerfiles/build scripts not changing config path etc.

Thanks for

[2019-03-06 17:01] ivitjuk commented on #95
@seubert in addition to providing the whole bootstrap file by yourself, you can create a file with stats config only, mount it in the Envoy container, and pass environment variable `ENVOY_STATS_CONFIG_FILE` to the container with the full path to the stats config file as it's value.

Our bootstrap script will then detect `ENVOY_STATS_CONFIG_FILE` variable and include the referenced file into the ge

[2019-03-07 22:03] seubert opened #98 "Egress Configuration for Sidecars"
I have seen #76 and related issues discussing egress configuration but it's still unclear to me how to properly setup egress to something completely outside of my cluster on the internet. My scenario is running a sidecar container next to my application container and the Envoy/App Mesh container that collects metrics and pushes them to an external service. Obviously this doesn't work by default be

[2019-03-07 22:28] bcelenza commented on #98
You aren't missing anything -- we're working on a change related to #76 that will make egress traffic *much* easier to configure mesh-wide. And we have some additional ideas after that we'll be implementing.

Your particular use case is interesting. It sounds like the additional sidecar container is being routed through the Envoy due to the iptables rules? You can get around that right now if you

[2019-03-07 23:09] bcelenza commented on #94
These changes are now available in the following SDK versions:

CLI: 1.16.120
Java: 1.11.514
Java (V2): 2.5.5 2019-03-07
CPP: 1.7.65
Go: 1.17.13
PHP: 3.89.0
JavaScript: 2.417.0
Ruby: 2.11.236
.NET: 3.3.471.0

[2019-03-07 23:09] #94 closed

[2019-03-07 23:12] bcelenza commented on #92
These changes are now available in the following SDK versions:

CLI: 1.16.120
Java: 1.11.514
Java (V2): 2.5.5 2019-03-07
CPP: 1.7.65
Go: 1.17.13
PHP: 3.89.0
Python: 1.9.110
JavaScript: 2.417.0
Ruby: 2.11.236
.NET: 3.3.471.0

Please let us know in a new issue if you have any questions or feedback for these new APIs.

[2019-03-07 23:12] #92 closed

[2019-03-07 23:14] bcelenza commented on #93
This has been resolved with a new API revision released in the following SDKs:

CLI: 1.16.120
Java: 1.11.514
Java (V2): 2.5.5 2019-03-07
CPP: 1.7.65
Go: 1.17.13
PHP: 3.89.0
Python: 1.9.110
JavaScript: 2.417.0
Ruby: 2.11.236
.NET: 3.3.471.0

[2019-03-07 23:14] #93 closed

[2019-03-07 23:36] leecalcote commented on #98
@bcelenza in this instance, we're pushing metrics to [AppOptics](https://appoptics.com).

The ideal here is that this additional sidecar traffic *is* routed through Envoy. It may be that the answer to this question (#98) is that this particular deployment needs updated to model our metrics backend as an external service as a VirtualNode. I think that was simply overlooked before. Will circle back

[2019-03-08 00:48] seubert commented on #98
Here's the update: The necessary whitelist is here https://docs.appoptics.com/kb/faq/whitelist/ and I'm not sure how to model all of that with VirtualNodes. I was able to reach just api.appoptics.com with this: ```{
    "meshName": "swio-app",
    "virtualNodeName": "appoptics",
    "spec": {
        "listeners": [
            {
                "portMapping": {
                    "port": 443,

[2019-03-08 05:17] bcelenza commented on #98
Your VirtualNode configuration looks correct for `api.appoptics.com`. A few questions:

1. Do you have any other TCP VirtualNodes as backends of `colorgateway` that also listen on `443`?
1. Is there a pattern for which IPs the connection is refused on? i.e. always specific IPs?
2. Is there anything in your Envoy Proxy logs when the connection is refused? Setting `ENVOY_LOG_LEVEL` to `debug` on the

[2019-03-08 21:58] seubert commented on #98
Ok, update time: The behavior I'm seeing now is that some requests fail when the pod is starting up and then they start going through. In looking at the Envoy logs I see a lot of DNS resolution calls for `api.appoptics.com` throughout this time period but the logs don't seem to specify what the results of those calls are. I'm not sure how Envoy does its DNS caching but perhaps it's building up a c

[2019-03-09 00:03] bcelenza commented on #98
Well, good to know this resolves itself. Given this appears to be timing, I should ask:

1. How long does it take before all outbound requests to `api.apptoptics.com` are succeeding?
2. How many outbound requests fail initially?

Envoy does asynchronous DNS resolution and caching to lower the latency it introduces by proxying calls. It uses this in combination with active and passive health checks

[2019-03-11 17:32] achandras opened #99 "Configuring Zipkin Tracing"
Apologies if this is already covered elsewhere, but is there a variable that can be configured to pick up a Zipkin tracing config for Envoy, similar to https://github.com/awslabs/aws-app-mesh-examples/issues/95#issuecomment-470188986? In the Envoy logs, there is a line that says `loading trace configuration`, so I gave it a shot by setting `ENVOY_TRACING_CONFIG_FILE`, but I couldn't see anything i

[2019-03-11 17:40] ivitjuk commented on #99
@achandras variable name for injecting tracing config is `ENVOY_TRACING_CFG_FILE`. You can verify if the content was injected into the Envoy bootstrap file by doing `cat /tmp/envoy.yaml` inside the Envoy container, unless you provide your own Envoy config file location via `ENVOY_CONFIG_FILE`.

[2019-03-12 11:33] achandras commented on #99
Thank you, @ivitjuk!

[2019-03-12 11:33] #99 closed

[2019-03-12 14:15] bcelenza commented on #95
Given the discussion in #98 I'm assuming we've resolved this particular question, so closing the issue. Please re-open if you have any additional configuration issues.

[2019-03-12 14:15] #95 closed

[2019-03-12 18:48] bcelenza commented on #76
Additional use case here is egress traffic to a service within a k8s/ECS cluster or local network, but that is *not* part of the mesh (i.e. modeled as a VirtualNode). Egress policies should be flexible enough to support modeling this.

[2019-03-19 20:37] seubert commented on #98
Hey @bcelenza, sorry for the delay in response! Here's a gist with the relevant Envoy logs from startup through the point where things started to work: https://gist.githubusercontent.com/seubert/1de9e296ae8e665d7f2a204eafe1abdb/raw/8f5f2e5d6f9a15dad290ecc612b747776c75dc59/app_mesh_envoy_logs.txt

Your theory sounds correct to me, but I am far from an expert here. Let me know if there's any other d

[2019-03-20 21:11] donovano opened #104 "Custom Envoy"
Will it be possible to deploy to App Mesh a custom built Envoy binary that is compatible with App Mesh of course e.g. with SigV4 etc? Custom filters for Envoy require a custom Envoy.

[2019-03-21 19:54] christian-posta opened #105 "Service to service TLS support"
I'm not seeing it in current docs/examples, but can we mount certs and set up service-to-service TLS or mTLS?

If not, when would that be available?

EDIT: Not sure why the issue is labeled "bug" but that can be removed.

[2019-03-22 20:49] achandras opened #107 "Accessing host instance"
Hello, I was wondering what would be the correct way to access the host on which a service is running. It would be cumbersome to model each host as a TCP virtual node and virtual service and add them all as backends to each service to account for dynamic task placement.

My initial thought is to add them to the APPMESH_EGRESS_IGNORED_IP since that's how the metadata services are reached, but I wan

[2019-03-27 23:57] jamsajones commented on #104
Yes you can bring your own Envoy as long as it includes SigV4 authentication. However our SigV4 implementation in Envoy's github has not been merged yet.

You can build in custom filters into Envoy but they will only work if they are configured via static bootstrap config. We are planning custom filters as a feature and would appreciate your feedback on our roadmap item #36.

[2019-03-28 14:41] kiranmeduri commented on #105
Closing this in favor of #33

[2019-03-28 14:41] #105 closed

[2019-03-28 19:08] #75 closed

[2019-03-28 19:11] #8 closed

[2019-03-28 20:43] #87 closed

[2019-03-28 20:44] #104 closed

[2019-04-04 16:54] bcelenza opened #117 "Create an example tutorial for service discovery"
Create a new example tutorial that focuses just on service discovery in AWS App Mesh.

[2019-04-04 16:55] bcelenza opened #118 "Create an example tutorial for health checks"
Create a new example tutorial that focuses just on how to configure health checks in AWS App Mesh.

[2019-04-04 16:56] bcelenza opened #119 "Create an example tutorial for how to use ALB/NLB with App Mesh"
Create a new example tutorial that focuses just on when and where to use ALB/NLB with AWS App Mesh.

[2019-04-04 16:58] bcelenza opened #120 "Create an example tutorial for observability (logging, metrics, tracing)"
Create an example tutorial that focuses on observability features and integrations with App Mesh

[2019-04-04 17:13] mhausenblas commented on #120
Yup, I'm working on exactly this (for EKS) in the walkthroughs directory.

[2019-04-08 03:49] chenrui333 commented on #120
@mhausenblas that sounds very nice! When can we expect to see it?

[2019-04-08 06:15] mhausenblas commented on #120
The basic walkthrough and CloudWatch is already available, X-Ray I hope very soon, maybe as early as this week. See https://github.com/mhausenblas/aws-app-mesh-examples/blob/master/walkthroughs/eks/README.md

[2019-04-08 13:54] chenrui333 commented on #120
nice, thanks for the update!

[2019-04-16 06:10] Mic-U commented on #120
I'm looking forward to the example tutorial outputting metrics to CloudWatch Metrics.

[2019-04-16 06:40] mhausenblas commented on #120
@Mic-U both CloudWatch and X-Ray (for App Mesh with EKS) are available.

[2019-04-16 19:18] chenrui333 opened #131 "OAuth 2 integration example"
It would be good to have some OAuth 2 integration example (Google OAuth, Github, etc.) to expose the EKS workload publicly.

[2019-04-17 08:22] Mic-U commented on #120
I tried walkthrough of CloudWatch, then succeeded to put logs to CloudWatch Logs.
However, It seemed to not output metrics to CloudWatch Metrics.

https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/eks/o11y-cloudwatch.md

[2019-04-17 21:35] mcheriyath opened #135 "ECS curl - 500 - Unexpected Error"
This is applicable only for ECS sample.

In the Sample application the port is 8080

https://github.com/aws/aws-app-mesh-examples/blob/31692a778d062ca3ccbdfce1477407fa59764848/examples/apps/colorapp/src/colorteller/main.go#L12

But in task definition
https://github.com/aws/aws-app-mesh-examples/blob/31692a778d062ca3ccbdfce1477407fa59764848/examples/apps/colorapp/ecs/colorteller-base-task-def.json#

[2019-04-19 17:06] qrobinson-starz opened #136 "Template validation errors when running ecs-colorapp.sh"
**Describe the bug**
When trying to run the ecs-colorapp.sh script, I get the following errors:
`Unknown parameter in input: "proxyConfiguration", must be one of: family, taskRoleArn, executionRoleArn, networkMode, containerDefinitions, volumes, placementConstraints, requiresCompatibilities, cpu, memory, tags, pidMode, ipcMode`

`Unknown parameter in containerDefinitions[0]: "dependsOn", must be o

[2019-04-20 00:09] lavignes commented on #136
My first guess is that your ECS models are out of date.

It looks like you are using a cli version from yesterday https://pypi.org/project/awscli/1.16.143/

Can you double-check that you don't have an outdated model for ECS in `~/.aws/models/` that you may have added with https://docs.aws.amazon.com/cli/latest/reference/configure/add-model.html

[2019-04-20 00:14] efe-selcuk commented on #136
Hey there. I just went through the steps to verify and I was able to provision the tasks with a CLI on 1.16.140, the latest version currently available on homebrew.

That error message is the client-side validation in the CLI, which suggests the model in the version that's being invoked during the calls to ECS is out of date. `proxyConfiguration` was added to the ECS API a while ago, but I see you

[2019-04-20 14:49] rverma-nikiai opened #137 "[BUG] Liveliness/readiness probes not working"
**Describe the bug**
While using the app mesh if a pod have liveliness/readiness probes it failed since the probes are configured on pod IP.

**Platform**
EKS

**To Reproduce**
Steps to reproduce the behavior:
Create a pod with liveliness and readiness probe enabled.
Deploy appmesh-inject and appmesh-system
Recreate pod to observe health check failed and the pod doesn't come up

**Expected behavio

[2019-04-20 15:05] rverma-nikiai commented on #119
We are also interested in this. We are using aws-alb-ingress-controller with the target as IP.
The first roadblock is the target group health check starts failing as soon as we add the proxy. It happens transitively with the liveliness also( https://github.com/aws/aws-app-mesh-examples/issues/137), even if we disable the liveliness the ALB can't sense the app-mesh virtual node health check. I thin

[2019-04-20 15:29] rverma-nikiai commented on #120
We have 2 log files per application. We are using 2 sources in fluentd conf. Though I couldn't understand the significance of /dev/stdout since the fluentd.conf seems to get logs directly through /var/log/containers directory.

[2019-04-20 23:06] kiranmeduri commented on #135
default-port will be overridden by 9080 due to
[code]

500 errors you are noticing may be due to something else. Can you check if you can curl any of the colorteller services directly.

[2019-04-22 15:59] qrobinson-starz commented on #136
Thanks for the response guys. I ended up uninstalling the cli and pulling it down from homebrew based on @efe-selcuk's suggestion and it seems to be working fine now.

[2019-04-22 15:59] #136 closed

[2019-04-22 16:45] mcheriyath commented on #135
Using the default values, I am getting this 503 error. I think the application needs some re-writes.

Will close this issue for now. Thank you.

[2019-04-22 16:45] #135 closed

[2019-04-24 12:06] uhef opened #138 "Question: What is APPMESH_XDS_ENDPOINT used for?"
I'm confused about the environment variable `APPMESH_XDS_ENDPOINT` passed to the Envoy container. There doesn't seem to be any mention of this in AWS documentation: https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html

[2019-04-24 17:59] bcelenza commented on #138
Hey @uhef, the `APPMESH_XDS_ENDPOINT` is used to specify an alternate address to connect to App Mesh's Envoy Management Service (an implementation of [Aggregate Discovery Service](https://www.envoyproxy.io/docs/envoy/latest/configuration/overview/v2_overview#aggregated-discovery-service)).

You do not need to specify anything for this environment variable. If nothing is passed, it will use the def

[2019-04-24 18:59] uhef opened #141 "Question: X-Ray sidecar with Fargate"
I've followed the instructions in colorapp example to take App Mesh and X-Ray into use in our existing service running on Fargate. Everything seems fine otherwise but we cannot get any data in to X-Ray. When looking at the x-ray container logs it might be that we have found the culprit:
[code]
It seems that the x-ray container tries to get instance metadata but cannot. I wonder if this is because

[2019-04-24 21:29] dileep-p commented on #120
I'm looking forward to the example tutorial expose metrics endpoint to scrap from promethues..

[2019-04-25 08:02] uhef commented on #141
Some update on this. Apparently this error can safely be ignored. For more information see this:

https://forums.aws.amazon.com/thread.jspa?messageID=857509&#857509

I modified the container entrypoint so that the x-ray daemon is ran in local-mode:

[code]

This will rid us of the error but the problem still persist. We get no data to X-Ray.

[2019-04-26 00:25] #138 closed

[2019-04-26 00:27] bcelenza commented on #141
@uhef So you're saying that you still aren't receiving data in X-Ray? Do you get any different errors in your X-Ray container after the initial issue with instance metadata?

[2019-04-26 15:06] kand617 opened #142 "[BUG] ColorGateway connection refused"
**Describe the bug**
Following https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/eks/base.md

I am unable to perform the curl command from curler to the gateway due to a connection refused error.

I am using `us-west-2`
**Platform**
EKS

**To Reproduce**
I have executed the steps on the walkthrough.

**Expected behavior**
I expect the curl command to comeback with OK.
The curre

[2019-04-27 11:19] kand617 commented on #142
I have repeated the entire set of instructions using us-east-2 and still get the same error.
Rather annoying to be honest.

Here is the full output
[code]

[2019-04-27 17:05] antcorne opened #147 "AWS_LOG_STREAM_PREFIX_ENVOY is not defined"
AWS_LOG_STREAM_PREFIX_ENVOY is not defined  while running the ecs-colorapp.sh

[2019-04-29 14:47] kiranmeduri commented on #147
Oops! I introduced this bug when refactoring the script. Thanks for reporting it.

-kiran

[2019-04-29 14:55] kiranmeduri commented on #142
Can you confirm if the following works?

[code]

[2019-04-29 15:29] kiranmeduri commented on #142
You may see errors due to any of the following. But these errors should go away once the configurations is distributed.

1. service-discovery is not ready yet. So colorgateway is not resolving to any ip.
2. colorgateway envoy is not primed yet (i.e. Envoy config is not distributed or loaded yet).
3. colorgateway app container is not ready yet.

I noticed a different behavior that maps to (2) and (

[2019-04-29 15:33] kiranmeduri commented on #120
#143 provides an example to publish metrics to AWS CloudWatch.

[2019-04-29 16:27] #147 closed

[2019-04-29 19:02] rothgar commented on #142
I appear to be having the same problem (also in `us-west-2`)

I can `dig` the endpoint but telnet also gets connection refused. I thought maybe it was a network policy but there aren't any
[code]

[2019-04-30 12:07] mhausenblas commented on #142
@kand617 @rothgar thanks for reporting this! I can't reproduce it but looking into it.

[2019-05-01 10:55] mahmoudelzayet opened #151 "[BUG] EKS ASG desired capacity is set to maximum launching 20 instances"
**Describe the bug**
The autoscaling group set for EKS cluster sets the desired capacity to the max param. It also easily hits region limit.

**Platform**
EKS

**To Reproduce**
Steps to reproduce the behavior:
1.  Launch EKS cluster template through 'examples/infrastructure/eks-cluster.yaml'
2.  'NodeGroup' auto scaling group will attempt create 20 c4.large instances

**Expected behavior**
An init

[2019-05-02 07:16] nckturner commented on #142
@rothgar @kand617 Can you:
[code]
and then navigate to `localhost:9901/config_dump` in your browser and copy the output here?

[2019-05-02 17:35] rothgar commented on #142
Here you go.
<details><summary>config_dump</summary>
[code]
</details>

[2019-05-08 21:11] rothgar commented on #142
After not touching this for 6 days it appears the problem resolved itself for me. I am now able to curl the color gateway from inside the cluster.
[code]
Next time I see an error I'll enable debug logging on the gateway sidecar and see if I see anything in the logs.

For anyone else that also needs to do this:
To enable debug log level you need to change the appmesh inject hook deployment via
[cod

[2019-05-15 06:43] shashanktomar opened #158 "[Question] Load balancing ecs service multiple tasks with app mesh"
We are trying out app-mesh. Our solution looks like the following:

`
Mesh Ingress (ALB) -> Service A -> Service B -> Mesh Egress -> External Service
`

In this setup, Service A and Service B are running over fargate with desired-count of 2 for each. These ECS services have cloud-map configuration enabled. We have verified that the traffic flows through envoy sidecar for both Service A and Service

[2019-05-23 22:44] harmannagra01 opened #161 "[BUG]App Mesh Setup failing"
**Describe the bug**
I am going through the App mesh on EKS Tutorial at https://eksworkshop.com/servicemesh_with_appmesh/. I am running into an issue at this step https://eksworkshop.com/servicemesh_with_appmesh/port_to_app_mesh/create_the_mesh/.

**Platform**
EKS 1.11 or 1.12

**To Reproduce**
Steps to reproduce the behavior:
To Reproduce
1.	Have EKS Cluster up and running.
2.	Follow steps at  ht

[2019-05-26 17:49] rkbalgi opened #162 "Question: DNS name for a virtual-router with single route"
If you have a single route in the virtual-router, should its DNS name match the DNS name of the virtual service?

For example,
In https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/servicemesh/appmesh-colorapp.yaml

For all colours,

ColorTellerBlackVirtualNode:ServiceDiscovery:DNS.Hostname: = !Sub "colorteller-black.${ServicesDomain}"
ColorTellerBlueVirtualNode:Servic

[2019-05-27 06:47] rkbalgi commented on #162
Some more context to the above question -
I've setup an  app mesh is setup similar to the colorteller (all artifacts created manually on the web console without cloud-formation) . All the services run on ECS fargate. There is a gateway service that calls a greeting service. The client makes a call to gateway service - _curl http://gateway.local:8080/greeting/hello_ and the gateway application make

[2019-05-27 14:11] rkbalgi commented on #162
The issue faced is described https://github.com/aws/aws-app-mesh-roadmap/issues/65 and
https://github.com/aws/aws-app-mesh-roadmap/issues/71. Closing this issue.

[2019-05-27 14:11] #162 closed

[2019-05-28 01:54] harmannagra01 commented on #161
Issue was resolved by updating the kubectl, EKS Master and Worker nodes to version 1.12.

[2019-05-28 01:54] #161 closed

[2019-06-03 15:51] alexei-led opened #164 "djapp "connection refused" error"
Going over djapp walkthrough, done it 3 times.

**Platform**
EKS

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy app and virtual nodes and services following the guide
2. Get into djapp pod antr try to access Jazz or Metal virtual services with `curl jazz.prod.svc.cluster.local:9080;echo` command
3. Got `curl: (7) Failed to connect to jazz.prod.svc.cluster.local port 9080: Connection

[2019-06-03 22:28] lavignes commented on #164
Hey @alexei-led we're starting to look into this. We'll reply back soon when we know what's up or can suggest something.

[2019-06-04 00:40] kiranmeduri commented on #164
can you provide output of `kubectl get all -nprod`. I tried but unable to reproduce.

[code]

[2019-06-04 10:03] alexei-led commented on #164
@karanvasnani hi
sorry it was my error: I've created app-mesh injector and controller manually, follwoing instructions on their github pages. I also did a typo mistake in mesh name (used `_` instead of `-`). So the example did not work as expected.

Closing this issue.

p.s.: is there a way to see/debug such mistake? I was looking at logs, but could no see anything. IMHO troubleshooting documentat

[2019-06-04 10:03] #164 closed

[2019-06-04 20:33] efe-selcuk commented on #158
Closing in favor of https://github.com/aws/aws-app-mesh-roadmap/issues/70

[2019-06-04 20:33] #158 closed

[2019-06-05 16:28] kiranmeduri commented on #142
Please reopen if you see any more issues. Thanks

[2019-06-05 16:28] #142 closed

[2019-06-05 16:35] kiranmeduri commented on #141
I am able to get x-ray traces in **Fargate** using the following container-definition. Can you please confirm if you are still not seeing X-Ray data.

[code]

![Screen Shot 2019-06-05 at 9 31 26 AM](https://user-images.githubusercontent.com/4035/58973418-c86c2f00-8774-11e9-8006-5be4d7366aa6.png)

[2019-06-05 16:43] kiranmeduri commented on #131
As of now App Mesh does not support [ingress-routing](https://github.com/aws/aws-app-mesh-roadmap/issues/37), so exposing workload publicly using App Mesh is not supported. It is possible to achieve this using [ALB](https://aws.amazon.com/blogs/aws/built-in-authentication-in-alb/) and [aws-alb-ingress-controller](https://github.com/kubernetes-sigs/aws-alb-ingress-controller).

However, will you be

[2019-06-12 13:20] ashishgore opened #167 "Create an example of CI/CD via CodeSuite for AppMesh constructs"
Create an example of CI/CD via CodeSuite for AppMesh constructs

[2019-06-12 15:33] #151 closed

[2019-06-12 17:50] subfuzion commented on #167
Hi @ashishgore, I agree it would be good to have some content on this added to the repo. In the meantime, I can point you out to the EKS Workshop created by my colleague, Brent Langston (@brentley) for starters.

https://eksworkshop.com/
(https://eksworkshop.com/servicemesh_with_appmesh/)
(https://eksworkshop.com/codepipeline/)

[2019-06-12 17:53] brentley commented on #167
thanks @subfuzion! This would be a cool addition to eksworkshop.com if you're interested in working on the project... otherwise, I'll put it in our backlog also.

[2019-06-20 09:52] stphivos opened #170 "[BUG] TcpProxyValidationError caused by ClusterWeightValidationError: Weight must be greater than or equal to '\x01'"
**Describe the bug**
I've been following the "App Mesh with EKS" walkthrough but with a few modifications to accommodate my scenario:

`gateway service` -> `http mesh service 1` -> `grpc mesh service 2`

so the 2 mesh services behave similarly with `colorteller` in the example. It seems that the gateway service can properly reach the **http** service in the mesh based on the weighted routes i defi

[2019-06-25 15:56] kiranmeduri commented on #170
Related to https://github.com/aws/aws-app-mesh-controller-for-k8s/issues/42

[2019-06-25 16:26] kiranmeduri commented on #137
I believe this is because Envoy is not primed yet with the configuration from App Mesh. By default Envoy is configured to drop all traffic and based on the configuration provided for VirtualNode it will receive configuration to allow traffic to specific backends. In this case you may have a case of aggressive probes. Can you share the configuration used for readiness and liveness probe so that we

[2019-06-25 16:35] kiranmeduri commented on #141
Closing this, please reopen if its not working. Thanks

[2019-06-25 16:35] #141 closed

[2019-07-01 20:10] myyee opened #173 "[BUG] Deloy service to ECS stuck at PRE_INITIALIZING state"
**Describe the bug**
Gateway and ColorTeller services stuck in PENDING state. Envoy won't become healthy because it is stuck at the PRE_INITIALIZING state.

**Platform**
ECS

**To Reproduce**
Follow the instructions in the [colorapp README](https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/README.md) until step "Deploy services to ECS"

**Expected behavior**
Gateway a

[2019-07-01 20:28] #173 closed

[2019-07-01 22:50] lavignes commented on #173
@myyee I see you resolved this issue. I'm curious if / how you resolved it. If there is something we could improve on in our examples or documentation that would prevent others from getting similarly stuck, we'd love to know.

[2019-07-02 14:58] myyee commented on #173
I totally missed the "Configure App Mesh resources" step twice. When I scroll through the page, I was looking for deploy keyword as the main section title is "Deploy the application". A screenshot showing the virtual nodes in the "create mesh resources" and another screenshot showing the ECS services in the "Deploy services to ECS" will be helpful. Also, adding step number can be helpful too.

I'm

[2019-07-05 01:01] ozbillwang opened #175 "[BUG] can't add 4 virtual nodes in examples/apps/colorapp/servicemesh/appmesh-colorapp.yaml"
Tasks

Edit https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/servicemesh/appmesh-colorapp.yaml#L126-L132 add additional black virtual node. So totally have 4

[code]

**Describe the bug**

**Platform**
ECS

**To Reproduce**

Described above

**Expected behavior**

It is fine, when manually add new virtual nodes in aws console,  but can't deploy via cloudformation.

[2019-07-05 16:17] bcelenza commented on #175
Hey @ozbillwang, thanks for reporting this. A fix is in the process of rolling out. I'll report back here once it's available.

[2019-07-17 19:45] sweluhu commented on #164
Same issue here. Curling Virtual Service Jazz and Metal do not redirect to weight distributed v1 and v2. Curling each version works. I went over Injector and CRDs twice with no success.

Please advise

✔ ~/workspace/aws-app-mesh-examples/examples/apps/djapp [master ↓·3|✚ 2…2]
15:37 $ kubectl get pods -nprod
NAME                        READY     STATUS    RESTARTS   AGE
dj-7b54cb8fc9-jbj4g

[2019-07-17 19:56] sweluhu commented on #164
Here is the kubectl get all:

[code]

[2019-08-07 18:02] chenrui333 opened #187 "How does app mesh handle sig v4?"
Curious about how does app mesh integrate with sig v4 check.

Thanks!

[2019-08-07 20:47] lavignes commented on #187
Hey @chenrui333 I'm assuming you are asking about how our Envoy proxy integrates with AWS IAM using sig v4.

Right now, the [envoy image](https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html) we distribute for use with App Mesh, is a fork of of Envoy with a custom extension that sig v4-signs requests made via Envoy's [xDS protocol](https://www.envoyproxy.io/docs/envoy/latest/api-docs/x

[2019-08-09 21:18] skiyani commented on #175
Sorry for the delay on this, this issue has been fixed and is deployed to all production regions. Feel free to reopen this issue if you experience any problems.

[2019-08-09 21:18] #175 closed

[2019-08-13 18:41] lavignes opened #191 "Remove external Docker repository references from examples"
The Cloud Map How-To references external builds of the color apps and Envoy proxy:

* https://github.com/aws/aws-app-mesh-examples/blob/e3ad4d7754dbc317faceafd9189da47b67bbf154/walkthroughs/howto-servicediscovery-cloudmap/app.yaml#L216
* https://github.com/aws/aws-app-mesh-examples/blob/e3ad4d7754dbc317faceafd9189da47b67bbf154/walkthroughs/howto-servicediscovery-cloudmap/app.yaml#L192

I don't thi

[2019-08-14 19:40] lavignes commented on #187
@chenrui333 I'm going to assume this answers your question for now. Feel free to re-open if I misinterpreted the question or need more clarification.

[2019-08-14 19:40] #187 closed

[2019-08-14 22:06] spaszek commented on #119
Indeed, I struggle to find any information how would one connect ALB to a Virtual Router. Is it even doable?  My use case is pretty simple - I would like to do canary deployment on both publicly and privately accessible services and thought about utilising App Mesh to do it.

Example scenario:
-  there is an ALB pointing to Virtual Router which leads to Virtual Node `vn_app:1.0.0`(which points to

[2019-08-14 23:27] lavignes opened #192 "Examples / Docs on integrating a developer environment into a Mesh"
Developers running/testing their apps locally (i.e. using tools like docker-compose) in their own environments may want to be able to integrate with a Mesh running in a VPC.

I'm proposing we make an example of using Client VPN to add a multi-container local docker environment as an virtual node to an existing mesh.

[2019-08-15 01:11] karanvasnani commented on #119
@spaszek So, your use case of connecting an ALB to a Virtual Router isn't doable currently. To achieve the scenario described you'll have to connect the ALB to a Virtual Node first which can then point to the Virtual Router.

A Virtual Router isn't an actual router and is just an abstraction. A Virtual Router needs a source and target Virtual Node to route traffic. In App Mesh, the actual routing

[2019-08-15 10:12] spaszek commented on #119
@karanvasnani

Thanks for clearing it up. Do you mind if we continue? I might be not the only person excited AND having doubts about App Mesh.

Lets say I have Virtual Service `A` and `B` with multiple Virtual Nodes running and Virtual Router(`VR_A`, `VR_B`) for each of services, load balancing the traffic.

To add an ALB into the mix I have to add a gateway service as Virtual Node whose only job

[2019-08-17 00:36] karanvasnani commented on #119
@spaszek
Right now a Virtual Router cannot be connected to another Virtual Router. A Route can only have Virtual Nodes as the weighted targets. So, the `VR_gateway` in your terminology would not be able to route traffic between `VR_A` and `VR_B`.

What you require is having a `VN_gateway` that has `VS_A` and `VS_B` as backends it can talk to. App Mesh currently doesn't support ingress routing so y

[2019-08-17 10:49] spaszek commented on #119
Great, thank you very much for your detailed answers!

[2019-08-17 14:56] jfefes commented on #192
Hey there, I started a thread similar to this on reddit, thanks for making this issue!

My current use case involves having different services in App Mesh, and being able to communicate to them in a development environment without additional code changes. With the current examples around, it's fairly easy to understand how to make a few different microservices (lets call them `orders` `customers`

[2019-08-18 21:01] #170 closed

[2019-08-19 15:35] kiranmeduri commented on #191
#183 updates the images references

[2019-08-19 16:13] #191 closed

[2019-08-22 02:13] kobayashilin commented on #173
I encountered similar issue.
Is it possible that be a network issue (e.g., proxy) ?
When I curl target_uri which in tmp/envoy.yaml, it encountered connection timeout.

The message below:
[code]

However, it can get response from outside ecs host.

[2019-08-23 15:00] lavignes commented on #173
@kobayashilin Can you explain what you mean by:

How are you verifying this? Are you testing this from within the same VPC?

I'd need more info to know for sure, but your VPC could be misconfigured to not allow traffic over the web. If thats the case you could also switch to using Private Link endpoints:

https://docs.aws.amazon.com/app-mesh/latest/userguide/vpc-endpoints.html

You may also have m

[2019-08-23 15:28] myyee commented on #173
@kobayashilin It was definitely network issue. My services stuck in the PRE_INITIALIZING state because they have difficulty registering to App Mesh. My solution was to route 0.0.0.0/0 via NAT Gateway.

You will get a response back if you service shows up in the Route53. This is done via EC2 Service Discovery. But, you won't get any response within Envoy until the service is registered to the App M

[2019-08-23 15:51] myyee opened #195 "[BUG] aws-appmesh-envoy not pulling X-Ray sampling rules from managed service"
**Describe the bug**
It looks like the aws-appmesh-envoy container is having difficulty pulling sampling rules from the managed X-Ray service. I have added my custom sampling rules to the X-Ray but it's not working. I'm seeing these in the log

[code]
**Platform**
ECS

**To Reproduce**
Set ENABLE_ENVOY_XRAY_TRACING environment variable to 1 for the aws-appmesh-envoy container

**Expected behavior*

[2019-08-23 16:46] lavignes commented on #195
@myyee Did you perhaps [miss the step on adding the xray daemon](https://docs.aws.amazon.com/xray/latest/devguide/xray-services-appmesh.html) in your task definition?

https://docs.aws.amazon.com/xray/latest/devguide/xray-daemon-ecs.html

[2019-08-23 16:50] lavignes commented on #195
You can add something this to your task definition:

[code]

And add the `arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess` policy to your Task's IAM role:

[code]

[2019-08-23 20:14] myyee commented on #195
@lavignes I just re-ran the Color App CloudFormation. It is showing the same issue. Here's the screenshot.

<img width="1245" alt="Screen Shot 2019-08-23 at 3 11 11 PM" src="https://user-images.githubusercontent.com/1231251/63621021-8bb41500-c5b8-11e9-88b5-5b43df7abd09.png">

[2019-08-23 20:32] lavignes commented on #195
@myyee Ah. I didn't know you were running the color app that helps :). Did you just redeploy your local copy of this repository, or did you pull again master? We've since updated the referenced Envoy version and earlier you were using `v1.9.1.0-prod`. I just want to make sure you're still using that version.

[2019-08-23 21:01] lavignes commented on #195
@myyee I'm sorry. I talked to the X-Ray team and it appears we do not yet support custom rules in our X-Ray extension. The error message is misleading as it implies we are trying to read them.

I've opened an issue in our Roadmap to help track this feature: aws/aws-app-mesh-roadmap#95. But we are working on the feature right now.

[2019-08-26 02:16] kobayashilin commented on #173
Hi @lavignes ,
Thanks for the reply

Here is my simple test.
![image](https://user-images.githubusercontent.com/4756036/63660232-0fa01400-c7e8-11e9-8826-35c09cb4e175.png)
If it's not make sense to do this or there is better way to figure out this problem, please let me know.

And here is the configuration.
[code]

It's almost no modification except the **AppPorts**. I agree that it's proxy configu

[2019-08-27 00:32] #61 closed, assigned to nobody

[2019-08-27 00:52] kobayashilin commented on #173
@lavignes Thanks. I try to adapt existing VPC. Therefore, it's not the same with color app example.

[2019-08-29 00:12] Y0Username opened #197 "[BUG] Passing ARNs instead of names result in null errors without a helpful error message"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
When we try to create virtual node, virtual router or virtual service

[2019-08-29 18:11] kiranmeduri opened #198 "[BUG] X-Ray extension causing seg-fault in app-mesh-envoy"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
When using application with App Mesh Envoy sidecar (111345817488.dkr.

[2019-08-31 07:03] lavignes commented on #195
Going to close this in favor of aws/aws-app-mesh-roadmap#95 for now.

[2019-08-31 07:03] #195 closed

[2019-09-13 23:39] kiranmeduri opened #207 "[BUG] EdgeCase: Route is not getting updated on Envoy when added to a router with no routes."
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Route is not getting updated on Envoy when added to a router with no

[2019-09-17 07:49] sviik commented on #117
+1

Service discovery was the most confusing part for me when starting with App Mesh.

[2019-09-30 16:30] #137 closed

[2019-10-29 18:47] shubharao opened #223 "[BUG] Links in walkthroughs/eks are out of date"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I followed the instructions in https://github.com/aws/aws-app-mesh-ex

[2019-10-30 14:06] smmallu commented on #223
I am working on a related item, I can update these,Please assign  to me @shubharao
Alias @smmallu

[2019-11-06 16:41] kiranmeduri commented on #223
@smmallu updated README to use aws/eks-charts (helm).

[2019-11-06 16:41] #223 closed

[2019-11-06 16:46] kiranmeduri commented on #117
Do these walkthroughs address this concern?

- ECS: https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-servicediscovery-cloudmap
- Kubernetes: https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-cloudmap

[2019-11-06 16:55] kiranmeduri commented on #89
I agree, made use of this pattern in [howto-ecs-basics](https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-ecs-basics) walkthrough

https://github.com/aws/aws-app-mesh-examples/blob/bdd7323fb268f0610d7582a3775f58c1c212990c/walkthroughs/howto-ecs-basics/deploy/2-meshify.yaml#L290

[2019-11-15 10:30] ayqazi commented on #141
We are having the same issue (no XRay data) and our definition looks the same as @kiranmeduri .

[2019-11-15 10:45] lavignes commented on #141
Hey @ayqazi. One other thing that may be worth checking is if you have given your task permission to talk to XRay. I would recommend giving your task the `AWSXRayDaemonWriteAccess` managed policy.

This [ALB demo app](https://github.com/aws/aws-app-mesh-examples/blob/db4a8d49ab61c62dbc254cd4d35a3911df4cc32c/walkthroughs/howto-alb/app.yaml#L61) of ours is a good example of a working XRay setup.

[2019-11-15 10:52] ayqazi commented on #141
You're right, that was the issue.

Thanks

Regards,
    Asfand

On Fri, 15 Nov 2019, 10:45 Scott LaVigne, <notifications@github.com> wrote:

[2019-11-17 09:21] XiaoYangZhu opened #230 "[BUG] annotation 'appmesh.k8s.aws/mesh' dose not work"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I created a service mesh stack based on samples in the eskworkshop [h

[2019-11-19 16:12] kiranmeduri commented on #89
Changing other examples may be not necessary, closing this.

[2019-11-19 16:12] #89 closed

[2019-11-19 16:41] kiranmeduri commented on #230
Thank you for reporting this issue. Before we dive into troubleshooting this note that directions in eksworkshop are outdated as installing controller and injector is now driven via helm see https://github.com/aws/eks-charts. Apologies for the confusion, we will update the workshop asap to avoid this problem. See if you can try https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/

[2019-11-19 18:55] kiranmeduri commented on #230
I can confirm that this is due to old aws-app-mesh-injector installation. Currently eks-workshop is referring to [aws-app-mesh-injector:0.1.0](https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/djapp/2_create_injector/inject.yaml#L64). Support for multiple meshes is added in [0.1.1](https://github.com/aws/aws-app-mesh-inject/pull/24).

For now you can upgrade your cluster to us

[2019-11-19 19:13] #230 closed

[2019-11-21 12:36] XiaoYangZhu commented on #230
thank you and I will take a new try based on the latest info you provided here.

[2019-11-22 15:28] XiaoYangZhu opened #231 "[BUG] Container 'colorapp' failed to be started in the pod"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
In tutorial of "howto-k8s-cloudmap", after the execution of './deploy

[2019-11-22 17:03] lavignes commented on #231
Looks like it's the same as benoitc/gunicorn#2160 ? It appears gunicorn (one of the example app dependencies) had a bug.

Can you try again by rebuilding the images for the apps?

[2019-11-22 21:26] lanmaster53 commented on #231
That won't work until it's been included in a release, right? Right now it's just a completed milestone for 20.0.1. https://github.com/benoitc/gunicorn/milestone/18

[2019-11-22 22:09] lavignes commented on #231
@lanmaster53 thanks for the heads up! I assumed gunicorn had pushed that fix to pypi already. #232 should fix this

[2019-11-23 14:30] XiaoYangZhu commented on #231
some update:
I loaded the latest code and tried again so it looks good now as:

![image](https://user-images.githubusercontent.com/24489117/69480215-86c56280-0e40-11ea-8d30-e3bb5a5fd84f.png)

however, there is no any service registered in the name space "howto-k8s-cloudmap.pvt.aws.local" of cloudmap, as shown below:

![image](https://user-images.githubusercontent.com/24489117/69480236-ad839900-0e4

[2019-11-23 16:05] XiaoYangZhu opened #233 "[BUG] virtual route "color-route" failed to be updated with retry policy"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
When going through the case of "aws-app-mesh-examples/walkthroughs/ho

[2019-11-25 23:05] efe-selcuk commented on #231
@XiaoYangZhu could you cut a separate issue for this cloudmap issue so we can separate it from the original problem? I'll start looking at this.

[2019-11-26 00:14] kiranmeduri commented on #231
@XiaoYangZhu thanks for reporting this.

Can your provide following information.

1. App Mesh controller version (should be >v0.1.2 for Cloud Map to work)
[code]
2. App Mesh controller logs
[code]

[2019-11-26 02:11] efe-selcuk commented on #233
It looks like you have an indentation issue. `retryPolicy` should be at the same indentation as `action`, not nested under it. I'm not familiar with how k8s processes CRDs but I'm guessing it will accept unknown fields but ignore them.

[code]

[code]

I just ran through the example myself and I'm able to see the retry policy effected.

[2019-11-26 03:31] kiranmeduri commented on #233
Also check the version of aws-app-mesh-controller that is installed. It should be >=v0.2.0 for retry-policies to work. https://github.com/aws/aws-app-mesh-controller-for-k8s/blob/master/CHANGELOG.md#v020

[code]

[2019-11-26 20:32] pksinghus opened #238 "[BUG] curl: (6) Could not resolve host: front.howto-k8s-http-headers.svc.cluster.local"
**Describe the bug**
After deploying the app example https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-http-headers when I make a curl request to front.howto-k8s-http-headers.svc.cluster.local I get a "Could not resolve host" error.

**Platform**
EKS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the directory aws-app-mesh-examples/walkthroughs/howto-k8s-

[2019-12-04 12:19] avinashetrx commented on #117
These walkthrough works but wanted to start without using cloudmap, We wanted to used dns mode of service discovery. Also I have question about listener rules used for databases, Will those be using tcp or http ?

[2019-12-10 20:30] Y0Username commented on #238
Hey @pksinghus, are you still seeing this issue: `80% of the times you get an error - "Could not resolve host"`?

[2019-12-10 21:03] pksinghus commented on #238
@Y0Username I believe this may not be specific to App Mesh. This happens even without App Mesh. So, this ticket may be invalid.

[2019-12-10 21:03] #238 closed

[2019-12-18 15:58] KushalP opened #243 "APPMESH_APP_PORTS should support multiple ports"
**Describe the bug**
When annotating pods with the relevant `prometheus` notation, it's not possible for Prometheus to contact the pod unless it's on the _first_ port that has been configured. It appears that `APPMESH_APP_PORTS` does not support multiple ports.

**Platform**
EKS

**To Reproduce**
Apply the EKS configuration below. It's not possible to hit the pod in question on port 8081. It's onl

[2019-12-18 16:17] KushalP commented on #243
The behaviour of the above is as follows if you're using [httpie](https://httpie.org/):

[code]

[2019-12-18 16:19] KushalP commented on #243
Closing in favour of putting it on the roadmap issue tracker: https://github.com/aws/aws-app-mesh-roadmap/issues/145

[2019-12-18 16:19] #243 closed

[2020-01-09 19:57] cdmadrigal opened #244 "[BUG] Update EKS example instructions."
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Helm 3+ no longer supports Tiller. Helm no longer needs to initialize

[2020-01-09 20:30] #244 closed

[2020-01-16 22:22] #233 closed

[2020-01-16 22:22] #231 closed

[2020-01-28 11:23] hffmnn opened #253 "[BUG?] Mesh configuration in ECS walkthrough"
**Describe the bug**
Trying to understand the mesh setup in the [ECS walkthrough](https://github.com/aws/aws-app-mesh-examples/tree/master/examples/apps/colorapp#overview), I stumbled upon this line of code:
https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/servicemesh/appmesh-colorapp.yaml#L99

The `DNS:Hostname configuration`  of the `ColorTellerWhiteVirtualNode` is

[2020-01-28 16:07] bcelenza commented on #253
@hffmnn One of the current limitations of Virtual Services is that their names must resolve to an IP address from the perspective of the application, otherwise it will fail to make a request. However, for the case of HTTP traffic, that IP address can be almost anything, as once the request is intercepted by the Envoy, the HTTP authority (host) header is inspected and the actual destination determi

[2020-01-28 20:49] hffmnn commented on #253
Thanks @bcelenza for this great explanation. 🙇

[2020-01-28 20:49] #253 closed

[2020-01-31 10:56] stafot commented on #120
Is there a way to setup X-ray distributed tracing on EKS and App Mesh using App Mesh CRDs? I mean to set a label or an ENV to the `mesh.yaml` and no need to use `eksctl` or` aws cli` of app mesh to enable tracing?

[2020-02-05 10:12] hffmnn opened #256 "[Question] How to canary release the gateway?"
I am (still looking) at the [ECS walkthrough](https://github.com/aws/aws-app-mesh-examples/tree/master/examples/apps/colorapp) and I am wondering how to (or if it is possible at all) to canary release the gateway?

It looks like it is not possible to target a router directly via the ALB, so the solution would be to have a virtual node that just forwards the request to the "real" API that sits behi

[2020-02-05 16:57] stafot opened #257 "[BUG] Mesh is created but virtual nodes, virtual services and virtual routers cannot be found on AWS Web console."
**Describe the bug**
Mesh is created but virtual nodes, virtual services and virtual routers cannot be found on AWS Web console.

**Platform**
EKS

**To Reproduce**
Steps to reproduce the behavior:
1. I followed this tutorial https://aws.amazon.com/blogs/compute/learning-aws-app-mesh/ with slight customizations on namespaces and application names.
2. Sidecar injector part and CRDs are working as e

[2020-02-06 15:57] kiranmeduri commented on #120
Not CRD, but you can configure [aws-app-mesh-inject](https://github.com/aws/eks-charts/tree/master/stable/appmesh-inject) to enable tracing. Following will get you started.

[code]
With that you will have every pod get both app-mesh-proxy (Envoy) and x-ray-daemon injected and configured appropriately.

[2020-02-06 19:45] melcloud commented on #256
Use ALB weighted target group. Gateway is the entry point for East West traffic, virtual route currently does not support this.

[2020-02-07 05:55] bcelenza commented on #257
Hey @stafot, my initial (rough) guess is there may be an issue with the [App Mesh controller](https://github.com/aws/aws-app-mesh-controller-for-k8s). Could you provide the logs for it and which version you’re running?

[2020-02-14 21:12] shwetasahuit opened #260 "[BUG] Examples/Walkthroughs will not work with AWS CLI version 2."
**Describe the bug**
Our example uses aws ecr get-login for authentication. However in the AWS CLI version 2 aws ecr get-login is deprecated and is replaced with the command aws aws ecr get-login-password command. Hence the examples will fail if run on aws cli version 2.

**Platform**
All.

**Additional context**
The examples will continue to run using aws cli version 1.
Refer [here](https://docs.

[2020-02-19 08:49] rajal-amzn commented on #256
@hffmnn Can you explain your use-case here for doing canary release for Gateway?

If you havent already, please check the proposal [here](https://github.com/aws/aws-app-mesh-roadmap/issues/37#issuecomment-562932419) for Gateway. As per the proposal, we are actively working on changing the Gateway to be a group of envoys. In this case, the Virtual Gateway will have Gateway Routes that point to a Vi

[2020-03-04 04:13] ozbillwang opened #264 "[BUG] ecs cluster can't be updated"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
The solution using app mesh to manage application canary deployment,

[2020-03-04 06:18] ozbillwang commented on #264
Maybe the issue related to [awsvpcTrunking ](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container-instance-eni.html#eni-trunking-supported-instance-types) . So if you change the instance typ and it can't allocation enough ENI interface, you will get outage.

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container-instance-eni.html

[2020-03-04 06:18] #264 closed

[2020-03-07 07:21] sanatan90 opened #266 "[BUG]awscli.yaml jobs are created but not getting completed"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Doc Link: https://aws.amazon.com/blogs/compute/learning-aws-app-mesh/

[2020-03-11 20:32] kiranmeduri commented on #266
@geremyCohen can you take a look at this and update the documentation accordingly. Thanks

[2020-03-11 20:47] kiranmeduri commented on #117
- https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-alb shows how to use virtual-node with DNS.

- To use databases you most-likely will need a TCP rule. However, note that mysql databases have a blocking bug that is being worked on. See https://github.com/aws/aws-app-mesh-roadmap/issues/62

[2020-03-14 17:58] hawknewton opened #268 "Docs: example has been removed from aws-app-mesh-controller-for-k8s"
As referenced here: https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/eks/base.md#the-application.

[2020-03-16 17:55] stafot commented on #257
@bcelenza
I did updates to `app-mesh-controller` but the errors persist. Right now I run the `0.4.0`
Sharing the logs.
[code]
Any thoughts would be appreciated.
Mesh is created successfully and i can see it on my aws console. But no nodes no routers and no services are created.

 

 

[2020-03-16 18:00] #257 closed

[2020-03-16 18:02] stafot commented on #257
Sorry for the issue opened all caused by a typo of mine

[2020-03-17 15:55] mothman88 opened #270 "tls-with-acm example - Error 500 unexpected error"
Hello,
   I'm trying to run the tls-with-acm example and managed to deploy all the cloud formation templates, but when hitting the ALB :

I get this error response:

Adding more logs to the gateway app it looks like that the response is an empty body when calling the color teller service

https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/tls-with-acm/src/gateway/main.go#L144

A

[2020-03-17 20:55] efe-selcuk commented on #270
Thanks for reporting this. It looks like there's an issue with with the current 1.13 app mesh envoy image that we're addressing.

In the meantime, please use this image: `840364872350.dkr.ecr.us-west-2.amazonaws.com/aws-appmesh-envoy:v1.12.2.1-prod`

Or `772975370895.dkr.ecr.me-south-1.amazonaws.com/aws-appmesh-envoy:v1.12.2.1-prod` in `me-south-1`.

[2020-03-18 08:51] mothman88 commented on #270
thanks @efe-selcuk using 840364872350.dkr.ecr.us-west-2.amazonaws.com/aws-appmesh-envoy:v1.12.2.1-prod solved the issue

[2020-03-18 16:56] efe-selcuk commented on #270
@mothman88 Great. I'm going to resolve this, but feel free to open back up or cut another issue if you need help.

You can follow along at https://github.com/aws/aws-app-mesh-roadmap/issues/168 for the re-release of the 1.13 image.

[2020-03-18 16:56] #270 closed

[2020-04-01 20:28] rajal-amzn commented on #256
@hffmnn Gentle ping! Do you think that the new proposal would solve your canary release usecase? If not, can you please explain your usecase here?

[2020-04-03 07:14] hffmnn commented on #256
@rajal-amzn Hi and sorry for the late response. To be honest: I am relatively new to the game and do not understand the proposal at 100%, so I don't know if it fits my use case.

I can try to tell you about my use case so you can decide if the solution fits 😄 :

I have a gateway service that gets called by external users. This gateway service calls internal services. The internal services are easy

[2020-04-03 14:02] adanilinel1 opened #276 "Q: Encrypting LB to service traffic"
I've noticed that while the traffic between the VitualNodes is encrypted by App Mesh, ALB still connects to the service using HTTP protocol (target group health check, etc)
Is there any way to also implement TLS encryption though envoy for the load balancer connections?

[2020-04-03 15:43] bcelenza commented on #276
Hey @adanilinel1, I take it you mean encrypting traffic from the load balancer on the [TLS walkthrough](https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/tls-with-acm) (and in general)??

This is doable. The short answer:

1. Enable TLS termination on the virtual node behind the load balancer the same way as done in the walkthrough (mode: STRICT, using a certificate of your cho

[2020-04-03 17:55] adanilinel1 commented on #276
Thanks for the response! I did just that based on your walkthrough, however the target group HTTPS health check fails
[code]
Everything starts, but NLB target group health check fails, and the ECS task is restarted

[2020-04-03 20:04] adanilinel1 commented on #276
Not sure if I understood your instructions above correctly.
Using the walkthrough as a base, I modified the target group to use HTTPS:
[code]
After re-deploying with this change, the gateway task started to fail ELB health check and was terminated

[2020-04-03 20:33] bcelenza commented on #276
@adanilinel1 Interesting, I'm not experiencing this myself. Using the TLS with ACM walkthrough as an example, here is the diff that is working for me:

[code]

When you re-deploy your changes, do your Envoy container logs show any indication of an issue?

[2020-04-04 09:04] efe-selcuk commented on #276
@adanilinel1 The virtual node in your snippet has the health check configuration, so I'm assuming that's the colorteller rather than the gateway (the gateway virtual node doesn't have a health check in our walkthrough). Is that correct? You would need to add TLS to your gateway's listener, since that's what ALB would be initiating TLS with.

[2020-04-04 09:49] efe-selcuk commented on #256
:wave: Here's my attempt at some fun ASCII diagrams.

Does your gateway service purely forward traffic? i.e., Can you represent it with the same routing rules we provide in the new proposal? For example, based on HTTP headers or paths. In that case, the Virtual Gateway (VG) could replace that gateway service entirely.

[code]

If you have to keep the gateway service in place (e.g., complex routing

[2020-04-06 09:28] victorlevasseur commented on #192
Hi,
Are there any news on this specific issues. We are considering App Mesh for our microservice architecture but without the possibility to use it locally we don't know how we develop our services.

[2020-04-06 17:51] bcelenza commented on #192
Hey @victorlevasseur, we're still in the process of figuring out where we'd like to focus our efforts first.

Can you share some details on your development environment? What tools do you use for development, etc.?

[2020-04-06 22:26] efe-selcuk commented on #119
We've had a couple walkthroughs for this for both ECS and Kubernetes, so resolving.

https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-alb
https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-alb

[2020-04-06 22:26] #119 closed

[2020-04-06 22:28] efe-selcuk commented on #117
Closing as we have some walkthroughs linked for service discovery

[2020-04-06 22:28] #117 closed

[2020-05-13 20:50] aboutbelka opened #289 "SSL23_GET_SERVER_HELLO:unknown protocol for openssl command from a different service in the same mesh"
I've configured TLS on the server node using a Private certificate from PCA and set a client policy to enforce TLS on the client.

Both the server and the client nodes have the following permissions added to the policy:
        "acm:ExportCertificate",
        "acm-pca:GetCertificateAuthorityCertificate",
        "appmesh:StreamAggregatedResources",
        "acm-pca:DescribeCertificateAuthority"

[2020-05-14 07:05] gdowmont commented on #289
Same problem here.

Connecting to a virtual node with TLS termination enabled from outside the mesh correctly presents the cert to the client.

Connecting from one virtual node to another in the same mesh (backends, TLS termination, and client policy configured correctly) gives me the error.

[2020-05-18 20:17] bcelenza commented on #289
Hey @aboutbelka and @gdowmont, is it possible that your client applications are also trying to negotiate TLS in addition to the proxy?

TLS in App Mesh (today) supports the proxies negotiating TLS between themselves, while the applications speak plain-text to the proxies.

We have a roadmap item for allowing the downstream (client) applications to negotiate TLS instead of the proxy (https://github

[2020-05-26 15:43] nbrandaleone opened #295 "[BUG] howto-k8s-fargate walkthrough is not working"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
The "walkthroughs/howto-k8s-fargate/deploy.sh" file has a check_k8s_v

[2020-05-26 15:50] fawadkhaliq commented on #295
hi @nbrandaleone , thanks for checking in this. We're in the process of adding v1beta2 support for App Mesh controller. Currently, you will see v1beta1 and v1beta2 both in howto-k8s-fargate example. To use v1beta1 example, please pass v1beta1 as an argument to the deploy.sh script: `./deploy.sh v1beta1`

If that does not work or you see any issues, please don't hesitate to report back. Thanks!

[2020-05-27 19:06] efe-selcuk commented on #295
Let's make v1beta1 the default for now since v1beta2 isn't the default consumable version.

[2020-06-02 12:25] mostafafarzane commented on #195
I have the same issue. Getting `[2020-06-02 12:08:50.719][22][info][tracing] [source/extensions/tracers/xray/sampling.cc:124] unable to parse empty json file. falling back to default rule set.` and XRay does not show anything.

I am not sure whether I need to set custom rules or not and how to add a custom rule if necessary.

[2020-06-02 22:55] fawadkhaliq commented on #295
Defaults have been fixed in the issue https://github.com/aws/aws-app-mesh-examples/pull/296

[2020-06-02 22:55] #295 closed

[2020-06-08 14:33] janaka commented on #99
FYI - used this config override to add Zipkin tracing config to Envoy and using that with an OpenTelemetry agent/collector.

[2020-06-17 09:08] williamdunstanmorris commented on #141
FYI We followed the official tutorial here, and are getting the exact same error.

https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/deploy_servicelens_CloudWatch_agent_deploy_ECS.html

We wil try some of your suggestions

[2020-06-18 19:03] jlbutler opened #304 "DJ App requires updates for App Mesh Controller for k8s GA."
The DJ App needs to be updated for the App Mesh Controller GA and moved to v1beta2 version of the API.  This app is used by the eksworkshop.com 'Service Mesh with AWS App Mesh' module, and it is being updated in tandem.

[2020-06-19 13:14] rajatjindal opened #306 "docker images for djapp for non-eks clusters"
**Describe the bug**

Following the tutorial at https://aws.amazon.com/blogs/compute/learning-aws-app-mesh/ for our cluster deployed on AWS (non EKS), the docker images are not available.

**Platform**
Kubernetes 1.16.x deployed on EC2 using kops

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps on https://aws.amazon.com/blogs/compute/learning-aws-app-mesh/ to run through dj-app e

[2020-06-19 13:17] rajatjindal commented on #306
1. I tried searching on different forums, dockerhub for those images, but they are not available.
2. I did verified my nodes have appsmesh:* permissions. (that is the only permission our nodes have).
3. I tried looking for Dockerfiles of the services as well, but could not find them in this repo or anywhere else.

any pointers will be very helpful.

thanks

[2020-06-19 14:44] motzyball opened #307 "[documentation] EKS base walkthrough doesn't work with eks/appmesh-controller v1.0.0"
I was able to successfully install the appmesh-controller via:
[code]

But when I try to follow the next step to install the appmesh-inject, I get an error:
[code]

I noticed that the helm chart for appmesh-inject says: `Note: Users of AppMesh controller v1.0.0+ shouldn't install this inject chart. The sidecar injection functionality is already included in the controller itself.` but now I have no

[2020-06-19 14:51] fawadkhaliq commented on #307
Hi @motzyball, thanks for reporting the issue. We're working on fixing the base install guide. In the meantime, if you would like to play with the v1.0.0, please the guide and example here [1]. The guide should be fixed today

[1] https://docs.aws.amazon.com/eks/latest/userguide/mesh-k8s-integration.html

[2020-06-19 14:54] motzyball commented on #307
Thank you for the quickly reply @fawadkhaliq! Does your use of the word 'play' indicate that v1.0.0 is not ready for production use?

[2020-06-19 14:57] fawadkhaliq commented on #307
Apologies for the poor choice of words and confusion - I'll improve wording. v1.0.0 is ready for production use

[2020-06-19 16:16] fawadkhaliq commented on #307
@motzyball the EKS base walkthrough has been updated. Thank you for reporting the issue

[2020-06-19 16:16] #307 closed

[2020-06-23 15:13] fawadkhaliq commented on #306
Hi @rajatjindal, it seems your cluster is missing ECR read permissions. You will need to add these permission to your cluster nodes. You could do this by adding the following policy to your node IAM roles: `arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly` or
[code]

Please let us know if that resolves the issue for you. Thank you!

[2020-06-23 18:00] jlbutler commented on #304
PR merged, closing issue.

[2020-06-23 18:00] #304 closed

[2020-06-25 00:39] #276 closed

[2020-06-25 00:39] #268 closed

[2020-07-04 20:45] benpettman opened #314 "Update k8s cross cluster example?"
I am using the latest controller and cant get the k8s cross cluster example to work with the latest controller and crds.

Could you update the example to the latest controller?

[2020-07-06 22:05] bcelenza commented on #260
Fixed by #312.

[2020-07-06 22:05] #260 closed

[2020-07-06 22:15] jlbutler commented on #314
@benpettman Sorry for the troubles.

That walkthrough should bring you to the base install instructions, resulting in installation of the latest stable controller:
https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/eks/base.md#install-app-mesh--kubernetes-components

What version did you install? You can check with:

kubectl get deployment -n appmesh-system appmesh-controller -o

[2020-07-07 06:12] benpettman commented on #314
I don’t need help getting the latest controller as I have that.

Your example doesn’t work with the latest controller, so wondering if you can update it to work with the latest?

[2020-07-07 14:59] bcelenza commented on #314
Yeah, the issue here is that the example for cross-cluster has not been updated for the v1 controller: https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-cross-cluster. It's still using the v1beta1 CRDs and annotations.

[2020-07-07 16:20] fawadkhaliq commented on #314
hi @benpettman, cross cluster example is planned to be updated. We will be creating PR soon. Stay tuned

[2020-07-07 16:27] jlbutler opened #315 "add app mesh k8s controller intro documentation to eks section"
Issue to track adding an intro and overview to the AWS App Mesh Controller for K8s project under the EKS section of the repo. This will help clarify installation, features, limitations, and use in the k8s-based walkthroughs and examples. Propose landing this under: https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/eks

[2020-07-09 01:45] kferrone opened #317 "Example of External Backend Service"
I have yet to figure out how to actually use an external URL as a virtual service. When the mesh has an egressFilter of DROP_ALL then your app must use a virtual service within the mesh. Please provide an example of how to do this. I have some codes below which attempt to setup `example.com` as a virtual service.

[code]

[2020-07-09 15:31] jlbutler opened #318 "use of 'aws acm-pca issue-certificate' fails with aws(1) v2"
Use of 'aws acm-pca issue-certificate' within the repo will fail with aws cli v2. This is due to a breaking change regarding how binary data is handled. See https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-binaryparam for more information.

For example, in the ECS Ingress Gateway walkthrough:

[code]

The fix is to pass the returned csr data through base64 when

[2020-07-09 17:45] bcelenza commented on #318
Resolved with #319.

[2020-07-09 17:45] #318 closed

[2020-07-09 22:23] fawadkhaliq commented on #314
Cross cluster example has been updated: https://github.com/aws/aws-app-mesh-examples/pull/316

[2020-07-09 22:23] #314 closed

[2020-07-22 20:21] fawadkhaliq commented on #306
The issue was related to missing IAM permissions. @rajatjindal if there's anything else we can help with, pls feel free to open a new issue

[2020-07-22 20:21] #306 closed

[2020-07-22 20:26] fawadkhaliq commented on #317
Related issue: https://github.com/aws/aws-app-mesh-roadmap/issues/2

[2020-08-04 00:45] BenTsai85 opened #329 "[Documentation] Update k8s walkthrough to be more clear"
When I was following https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-http-headers, some steps were also required to set it up but not documented:

Before running `./deploy.sh`:
* Install docker
* Make sure docker is running by `sudo systemctl start docker`
* Run the following lines to add permission:
[code]
* Completely log out and log back in

After all these steps

[2020-08-05 20:18] fawadkhaliq opened #330 "Publish images for sample applications used in the App Mesh examples walkthroughs"
**Description**
Currently, every time a user wants to try any of the walkthrough examples in this repo, they need to build the sample application images, publish them to ECR and then use them in their App Mesh setup. This also requires the users to have Docker installed on their machine to build the images.

**Proposed change**
We should publish images for sample applications used in the App Mesh

[2020-08-11 18:52] jlbutler commented on #315
I took long enough to get back to this, I think the changes that went into https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/eks/base.md are sufficient, and further the walkthrough is now in place. If anyone disagrees and feels we need more of an overview of the controller let me know, otherwise I'm closing this out.

[2020-08-11 18:52] #315 closed

[2020-08-11 18:53] jlbutler commented on #330
We should consider smaller images as well. It should be fairly easy to drop some bulk on these. I can help with this, later this week @fawadkhaliq.

[2020-08-11 21:17] fawadkhaliq commented on #330
@jlbutler absolutely! That'd be great if you can help with it. thanks!

[2020-08-12 17:23] rajal-amzn opened #333 "Create a walkthrough for TCP based routing"
Create an example walkthrough that focuses on TCP based routing with TLS support.

[2020-08-19 07:41] danushkaf opened #335 "[BUG] Timeout when invoking endpoint."
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I tried to use [1] to deploy a sample. But when I try to run the curl

[2020-08-19 08:14] danushkaf commented on #335
I tried removing calico also but didn't help.

[2020-08-19 10:35] danushkaf commented on #335
Sorry this was due to an issue with the ASG.

[2020-08-19 10:35] #335 closed

[2020-08-25 00:50] fawadkhaliq commented on #317
hi @kferrone, an example https://github.com/aws/aws-app-mesh-examples/pull/336 has been added to demonstrate mesh egress filter `ALLOW_ALL` and `DROP_ALL` (with external services)

[2020-08-25 00:50] #317 closed

[2020-09-14 16:13] fawadkhaliq commented on #330
@jlbutler assigning the issue to you since you'll be working on it

[2020-09-14 16:16] fawadkhaliq commented on #266
Not sure if @geremyCohen is looking at this. @jlbutler would you be able to help here?

[2020-09-16 11:56] Dazza65 opened #342 "[BUG]"
**Describe the bug**
Two of the six services fail to start due to there not being enough ENIs available to run all of the tasks.

The following error message is reported in the Events tab of the ECS Service that fails to start:

```service appmesh-dev-ecs-colorapp-TcpEchoService-14M0PCTB9QFKJ was unable to place a task because no container instance met all of its requirements. The closest matching

[2020-09-17 07:11] alexpulver opened #344 "Ingress to the database is open from `0.0.0.0/0` on all ports"
Is there a reason to open ingress to the database from `0.0.0.0/0` on all ports? It doesn't seem to be needed, since there is an explicit reference to yelb-app-server security group.

https://github.com/aws/aws-app-mesh-examples/blob/197023518523d8f46393e6066137327da91cb9b2/blogs/ecs-service-connectivity/yelb/deployments/platformdeployment/AWS/ECS/yelb-cloudformation-ECS-AppMesh-deployment.yaml#L5

[2020-09-21 19:48] ntorba opened #347 "k8s ingress example not working"
*SECURITY NOTICE: If you think you’ve found a potential security issue, please do not post it in the Issues. Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com).*

**Summary**
What are you observing that doesn't seem right?

While following the [app mesh k8s ingress example](https:

[2020-10-07 16:20] fawadkhaliq commented on #266
@jlbutler will be picking it up

[2020-10-08 19:35] jlbutler commented on #330
Yep I'm working on this one... in slow motion, apparently. I have been wondering if we should also port the demo app that most of these use to Go for a faster build and smaller image. I will update again soon and get something rolling.

[2020-10-12 18:47] achevuru commented on #347
@ntorba Closing the issue for now. Please feel free to re-open if you are still running in to any issues.

[2020-10-12 18:47] #347 closed

[2020-10-14 03:55] lubingfeng opened #351 "howto-ecs-basics example always fails at step 2 ./deploy.sh deploy 2-meshify"
**Describe the bug**
I am trying the sample https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-ecs-basics.

I was able to complete deployment of servicedeployment and see it on cloudwatch service map. However when I tried
% ./deploy.sh deploy 2-meshify

It took very long time (**~30 minutes**) and then I got a message saying
[code]

If tried again, I kept getting the follo

[2020-10-15 00:08] lubingfeng commented on #351
Please close the issue.

I got ENVOY_IMAGE environment variable is not set to App Mesh Envoy, see https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html
export ENVOY_IMAGE=...

[2020-10-15 21:55] jlbutler commented on #266
We came to a decision on this that we won't fix the linked walkthrough as it's written. At this point it's deprecated and we have better docs, blogs, and examples. Leaving this issue open until we land the solution, which will be an update on the blog from last year to link to something more current.

[2020-10-15 21:56] jlbutler commented on #330
Status update, I'm working through an internal process on releasing these images as artifacts. Once that's complete, I can move on to resolving this.

[2020-10-19 18:26] PettitWesley commented on #8
The OpenTelemetry integration will eventually cover this

[2020-10-20 20:37] ganeshbhargav commented on #344
This could be a good resource https://www.stratoscale.com/blog/cloud/aws-security-groups-5-best-practices/ to resolve the issue.

[2020-10-22 10:48] Y0Username commented on #342
This looks like your ECS cluster does not have enough capacity to provision these containers.
Add more ECS instances to the cluster to solve the problem.

[2020-10-26 22:54] jlbutler commented on #266
The upstream blog has been updated in place with a link to this repo (and specifically the getting started tutorial with djapp). We don't intend to support that previous workflow, and so closing this issue out as resolved. Thanks for calling it out!

[2020-10-26 22:54] #266 closed

[2020-10-26 22:56] jlbutler commented on #330
Another update so the issue doesn't go stale. The process is well defined, but it'll take some refactoring and some legwork in the repo across all of the walkthroughs. I have scheduled time to work on this once I'm through a set of current work and will bring back a proposal PR here.

[2020-10-28 19:48] jamsajones commented on #351
Closing per lubingfeng

[2020-10-28 19:48] #351 closed

[2020-10-28 19:50] jamsajones commented on #342
Looks like @Y0Username provided a solution. Please fee free to re-open if the solution did not resolver your problem.

[2020-10-28 19:50] #342 closed

[2020-10-28 20:41] bcelenza commented on #344
@alexpulver You are correct, allowing all is not required for that security group.

[2020-10-29 21:04] fawadkhaliq commented on #120
EKS + AppMesh + Prometheus example: https://github.com/aws/aws-app-mesh-examples/pull/337
EKS + AppMesh + Grafana example: https://github.com/aws/aws-app-mesh-examples/pull/338

[2020-11-03 05:54] fawadkhaliq commented on #120
EKS + AppMesh + Jaeger example: https://github.com/aws/aws-app-mesh-examples/pull/357

[2020-11-03 17:27] fawadkhaliq commented on #120
Added walkthroughs for Prometheus, Grafana and Jaeger

[2020-11-03 17:27] #120 closed

[2020-11-25 08:49] FanDoubleLucky opened #367 "Why a k8s Service without selector is required for a virtualservice"
I am a newbie for AppMesh, and I don't clear about the function of Service without selector in AppMesh YAML configure. For example, there are two Services without selector, jazz and metal, in djapp example.
Thanks!

[2020-11-30 04:45] #367 closed

[2020-12-03 17:01] CarwynNelson opened #369 "[BUG] k8s ingress example loadbalancer not working on fargate"
**Describe the bug**
I am trying to deploy the [k8s-ingress-gateway](https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-ingress-gateway) example to my cluster to see if ingress via an appmesh gateway and NLB would work.

When my loadbalancer comes up I get the following error, in two different forms:

form 1:
[code]

form 2:
[code]

I'm wondering if this is because I a

[2020-12-17 10:22] CarwynNelson commented on #369
I finally had a chance to launch a new Kubernetes cluster that uses normal EC2 worker nodes and it worked there, so I think the issue is that AppMesh + Fargate + Load Balancers do not play well.

[2021-01-06 17:57] #329 closed

[2021-01-07 19:20] joshuabaird opened #375 "[BUG] problems accessing VirtualGateway through NLB w/ ingress walkthrough"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I'll start by saying this may not be a bug, but I have deployed the t

[2021-01-07 20:54] joshuabaird commented on #375
It looks like this is because the VirtualGateway was configured without TLS termination enabled.  Funny, because `colorgateway-vg.json` does specify the TLS configuration.  I'll try to reproduce.

[2021-02-14 03:44] shaileshgupta2k opened #393 "[BUG] Hostname set to AWS_XRAY_DAEMON_ADDRESS makes Envoy throw Error and ECS service fail"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Customer try to use a remote X-Ray daemon with AppMesh, it worked wel

[2021-02-24 00:21] AKBarcenas commented on #393
Closing this issue in favor of this one on our roadmap: https://github.com/aws/aws-app-mesh-roadmap/issues/319

[2021-02-24 00:21] #393 closed

[2021-03-23 08:42] cgchinmay commented on #369
@CarwynNelson
You will have to use
1[. nlb-ip](https://docs.aws.amazon.com/eks/latest/userguide/load-balancing.html) type for your Network Loadbalancer service when using Fargate
2. Install the [AWS load balancer controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/nlb_ip_mode/) which supports the NLB IP type
3. I tried the [sample application](https://do

[2021-03-25 15:51] jayeshnazre opened #404 "[BUG] The use of front app (custom image - FRONT_APP_IMAGE) is not well explained in the documentation for eks"
**Describe the bug**
The use of front app (custom image - FRONT_APP_IMAGE) is not well explained in the documentation for eks. Looking at the custom python code: [https://github.com/aws/aws-app-mesh-examples/tree/master/walkthroughs/howto-k8s-alb/feapp](url)
**Platform**
EKS

**Expected behavior**
Please provide a clear use of the front-end service and whether its a scalable approach. Also how it

[2021-03-25 16:55] jayeshnazre commented on #404
@cgchinmay
Thanks for assigning this to yourself. I am finding very limited documentation of using ALB with AppMesh in EKS (I am using ALB controller and Appmesh controller inside EKS). Especially when it comes to the new CRD - VirtualGateway. This example site is the closest I have to connecting the pieces together. Hence I wanted to post this documentation question for everyone's benefit (Specif

[2021-03-25 17:05] cgchinmay commented on #404
The purpose of the walkthrough is to demonstrate use of ALB and how it routes traffic to backend service. The feapp could have been any collection of pods (service) which does some work and to which ALB routes requests. It could have also been a Gateway as pointed by below links. The walkthrough does point to some ALB links but I find that they are broken. Will fix it.

Here is useful documentatio

[2021-03-25 17:43] jayeshnazre commented on #404
@cgchinmay
Thanks for responding. I am glad you provided the first link [https://aws.amazon.com/blogs/containers/app-mesh-integration-with-aws-alb-ingress-controller/](url) actually I was looking at that as well. Maybe its just me trying to connect the dots. So the source code link in that blog is incorrect in Step 4: The below link is not working -
https://raw.githubusercontent.com/aws/aws-app-me

[2021-03-25 22:54] cgchinmay commented on #404
Yes. The example just uses gateway as the name but its a virtual node

VGW and ALB are conceptually same thing, they both do routing based on prefix/path.
https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/howto-k8s-ingress-gateway/v1beta2/manifest.yaml.template
This example exposes VGW via nlb as the Service type supports only nlb and classic load balancer. Check this: https://

[2021-03-26 12:06] cgchinmay commented on #369
@CarwynNelson Any updates ? Were you able to get it working ?

[2021-03-26 12:16] CarwynNelson commented on #369
@cgchinmay Sorry, just saw your message.

I have been doing this in my 10% R&D time in work, so I basically haven't looked at this since I raised the issue. I'm not sure I would have the time to sit down and reproduce the bug and try and alternatives, so you might want to close the issue.

Apologies for that.

[2021-03-26 13:19] cgchinmay commented on #369
@CarwynNelson Closing this issue as I was able to get it working with the steps I mentioned above. If you face error in future with the above steps, feel free to reopen the issue. Thanks

[2021-03-26 13:19] #369 closed

[2021-03-26 18:31] jayeshnazre commented on #404
@cgchinmay
Thanks for responding. So basically I wanted to go down the path of ALB to see if I can use WAF which I believe NLB does not natively support (yes there are hacks of putting NLB in front of ALB etc. but no straight support)

W.r.t the link - https://github.com/aws/aws-app-mesh-examples/blob/master/walkthroughs/howto-k8s-ingress-gateway/v1beta2/manifest.yaml.template

I used that sample

[2021-03-29 21:59] 141984 opened #405 "Routing Questions"
Hey,

I am have novus to the world of Service Meshes and have some questions regarding how this setup works. I hope this is the right place to ask them.

1. [AppMeshWildcardRecordSet](https://github.com/aws/aws-app-mesh-examples/blob/main/walkthroughs/howto-ecs-basics/deploy/3-routing.yaml#L290-L305)
What is this for used for?  What is the connection between this and the [ColorVirtualService](http

[2021-03-31 20:49] Y0Username commented on #405
Hey @141984, let me take a stab at answering these for you.

1. So this is a hack. Well, at least one of the hacks. The reason is that when the front-end app wants to send traffic to the color teller app, it tries to resolve the DNS for the color app endpoint (let's call this `color.my-awesome-project.mesh.local`), the Envoy cannot really "see" this DNS request since Envoy cannot intercept UDP pac

[2021-04-06 14:36] cgchinmay commented on #404
@jayeshnazre apologies for delayed response
Looks like it should work but you need try this setup with the above example and verify that you are getting the desired output. We also have an mTLS walkthrough: [mTLS](https://github.com/aws/aws-app-mesh-examples/tree/main/walkthroughs/howto-k8s-mtls-file-based).

[2021-04-08 19:24] 141984 commented on #405
Thanks for the answers :)

[2021-04-08 19:24] #405 closed

[2021-04-12 17:11] caleygoff-invitae opened #407 "Please consider adding a walkthrough for cross-cluster mTLS support with unique trust_domains for each cluster"
The walkthroughs have been super helpful so far and very illuminating. It would be helpful to also include a walkthrough that explained how to setup a cross cluster configuration with SPIRE/SPIFFE as serving as the mTLS SVID authority using an unique trust_domain for each cluster.

I do see these issues on envoy [here](https://github.com/envoyproxy/envoy/issues/14614) and [here](https://github.com

[2021-04-12 18:22] cgchinmay commented on #404
@jayeshnazre Closing this issue/thread, as the original FRONT_APP_IMAGE related question has been answered.

[2021-04-12 18:22] #404 closed

[2021-04-29 23:46] herrhound commented on #167
Resolving the old issue as it doesn't generate enough interest. Please feel free to reopen it.

[2021-04-29 23:46] #167 closed

[2021-04-29 23:48] herrhound commented on #131
Resolving the old issue, as authorization is a roadmap item at the moment: https://github.com/aws/aws-app-mesh-roadmap/issues/140

[2021-04-29 23:48] #131 closed

[2021-05-04 00:01] caleygoff-invitae opened #409 "Unable to resolve request when attempting cross-cluster mTLS with a single trust_domain using spire"
**Describe the bug**
This is similar to the request found in https://github.com/aws/aws-app-mesh-examples/issues/407 only that this is for a single `trust_domain` using spire/spiffe. Is it possible to perhaps illustrate how to achieve this with Appmesh and SPIRE with a single trust_domain?

I have personally attempted using this with the colorapp tutorial using mtls and found the single cluster de

[2021-05-04 21:00] caleygoff-invitae commented on #409
:sweat_smile: I do not know what I did but I got the above working but I guess its still not clear from an example walkthrough standpoint to arrive where I got by failing forward :stuck_out_tongue:

[2021-05-05 23:06] alexbrjo opened #411 "[BUG] Docker build: "go.mod file not found""
**Describe the bug**

Color teller in the `howto-mutual-tls-file-provided` walkthrough is not building.

[code]

**Platform**
EKS, ECS, EC2, etc.

**To Reproduce**
Steps to reproduce the behavior:

Perform [the howto-mutual-tls-file-provided walkthrough](https://github.com/aws/aws-app-mesh-examples/tree/main/walkthroughs/howto-mutual-tls-file-provided) up to the `./src/colorteller/deploy.sh` step

[2021-05-06 22:33] alexbrjo commented on #411
Work around: use the `golang-1.15-buster` image instead of `golang:1-buster` [here](https://github.com/aws/aws-app-mesh-examples/blob/main/walkthroughs/howto-mutual-tls-file-provided/src/colorteller/Dockerfile#L1).

[2021-05-14 18:44] gavindoudou opened #413 "[BUG]howto-ecs-basics Chapter 2: Meshify! does not work"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I am following the instruction here: https://github.com/aws/aws-app-m

[2021-05-14 20:33] #413 closed

[2021-05-14 20:58] lavignes commented on #413
@gavindoudou looks like you just closed this issue. Was this a separate issue and not a bug? Just want to document why we're closing it in case someone runs into this issue when searching.

[2021-05-14 22:16] gavindoudou commented on #413
It's my mistake, not a bug from your side.Thanks for the help.

[2021-05-17 20:28] cgchinmay opened #414 "[Enhancement] Create a walkthrough to test new features on Ingress GW"
Demonstrate how to use new feature added to GWRoute for http and GRPC

[2021-05-27 21:45] prasadnh opened #418 "[BUG] Why COLOR_GATEWAY_IMAGE is creating without region(even hardcoded) attached to it"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
I was trying to run deploy.sh of gateway/colorteller, creating image

[2021-05-28 04:52] prasadnh commented on #418
manually ran docker tag to fix this issue

[2021-05-28 04:52] #418 closed

[2021-05-28 15:18] prasadnh opened #419 "[BUG] CF Template: Deploy services to ECS failed to complete the ColorGatewayService and ColorTellerRedService"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Deploy services to ECS failed to complete the ColorGatewayService and

[2021-05-29 08:48] wweic opened #420 "[BUG]"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
Followed the instructions in https://github.com/aws/aws-app-mesh-exam

[2021-06-02 05:00] weisong-bouqs opened #421 "I'm having trouble with finding reference for this "VirtualNodeName" under ColorTellerService."
I'm having trouble with finding reference for this "VirtualNodeName" under ColorTellerService. Should "VirtualServiceName" be set to the name of the virtual service, like "ColorTellerService.VirtualServiceName", instead? Or the VirtualNodeName will return something different but hasn't been documented in the "Return values" section of https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/

[2021-06-10 07:39] atchut-mca opened #425 "Looking for a Java based example using SpringBoot"
Hi, I am looking for a Java based example using SpringBoot. I have a monolith application to be modernized but the techstack should remain as Java and SpringBoot as approved my org. I am looking at one using the App Mesh and Cloud Map with this stack around the google but can't find. Please help me with if you already have something of that sort.

[2021-06-21 18:35] #414 closed

[2021-06-21 18:40] achevuru commented on #409
@caleygoff-invitae Closing this issue. It appears that you were able to get past the issue. Feel free to reopen it if you're still running in to any issues with mTLS+SPIRE walkthrough.

[2021-06-21 18:40] #409 closed

[2021-06-24 23:34] rajal-amzn commented on #420
@wweic Could you provide all the environment variable values set?

[2021-06-25 00:09] rajal-amzn commented on #419
@prasadnh From the description, it mostly looks like the ECS task creation failed. Do you have the logs from ECS deployment? If yes, could you share it?

Additionally, we havent updated our `apps` repo in a while. It would be worthwhile for you to check our `walkthroughs` as we have been updating them on a regular basis. You could checkout [this walkthrough](https://github.com/aws/aws-app-mesh-exa

[2021-07-01 07:54] atchut-mca commented on #425
Can someone help me with this. Thanks in advance.

[2021-07-13 16:41] AhmadMS1988 opened #431 "Is howto-k8s-mtls-sds-based compatible with Bottlerocket?"
**Platform**
EKS 1.20, with Bottlerocket 1.1.2

**To Reproduce**
Apply howto-k8s-mtls-sds-based walkthrough

**Describe the bug**
After applying howto-k8s-mtls-sds-based walkthrough, the agents keeps restarting with the following logs:

[code]
When trying to list the agents, the found attested agents keeps increasing

[code]
and when trying to test agent connectivity from inside the agent containe

[2021-07-14 13:37] dedudonato opened #432 "The howto-cross-account example always fails in step AWS::ServiceDiscovery::PrivateDnsNamespace in CloudFormation"
**Describe the bug**
When the deploy script start to run the CloudFormation stacks of the secondary account AWS cannot complete the process of creating the infra resources. I always receive the same error in AWS console:

`The VPC: <vpc_name> in region <region> that you provided is not authorized to make the association. (Service: AmazonRoute53; Status Code: 400; Error Code: InvalidVPCId; Request

[2021-07-17 02:35] Y0Username commented on #432
We're are aware of this issue and we're going to connect with RAM team internally to figure out if there are any workarounds and what's the solution here.

Meanwhile, we'll update our examples to use CloudMap based service discovery instead of DNS based service discovery to make it work for now. Specifically [here](https://github.com/aws/aws-app-mesh-examples/blob/main/walkthroughs/howto-cross-acc

[2021-07-24 00:23] Y0Username commented on #432
I have updated the demo to use CloudMap based service discovery with HTTP based namespaces in the secondary account: https://github.com/aws/aws-app-mesh-examples/pull/434.

We'll keep this issue open until we have a workaround/solution for DNS based service discovery.

[2021-07-29 21:50] arunvthangaraj opened #435 "[BUG]"
**Describe the bug**
Ran into an issue while trying to create an app mesh using the dj-app at aws-app-mesh-examples/examples/apps/djapp/

With the current deployment files, when the envoy proxy sidecar container is automatically injected, it will not have the necessary permission "appmesh:StreamAggregatedResources". This is because the iamserviceaccount that is created as part of the tutorial is n

[2021-07-29 23:20] cgchinmay commented on #435
We do mention about the envoy policies in the installation instructions. Which service account to use for these envoy policy attachment is left to the customers as instructed [here](https://github.com/aws/eks-charts/tree/master/stable/appmesh-controller#with-irsa).

[2021-07-30 01:14] arunvthangaraj commented on #435
Thanks for the information. I was following the instructions in "Getting started with App Mesh" section on eksworkshop.com. The instructions in the workshop does not mention to update the POD spec to use the correct service account. I will review the workshop instructions one more time before raising this issue in the right channel.

[2021-08-09 23:56] rexnp opened #441 "[BUG] App Mesh Envoy version 1.17+ does not work with SPIRE for mTLS"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
our SDS based mTLS solution using SPIRE currently does not work if th

[2021-08-13 19:26] rexnp commented on #441
dup: https://github.com/aws/aws-app-mesh-roadmap/issues/367

[2021-08-13 19:26] #441 closed

[2021-09-12 20:30] alexpulver commented on #344
@rajal-amzn @herrhound @jamsajones @bcelenza any chance this code can be updated?

[2021-09-23 18:45] #421 closed

[2021-09-23 19:09] rajal-amzn commented on #375
@joshuabaird Are you facing this issue still? I am not able to reproduce this.

[2021-09-24 17:54] rishijatia commented on #432
While using the example in `blogs/ecs-cross-account`, please follow this workaround:

. Follow the blog till **"Set up the frontend and application server in Account Frontend"**.

2. In the **Create the ECS cluster and infrastructure components** step for **Account Frontend** (specifically refering to this [line](https://github.com/aws/aws-app-mesh-examples/blob/main/blogs/ecs-cross-account/accoun

[2021-09-24 17:54] #432 closed

[2021-10-20 15:02] msaustral opened #460 "Having 502 or https redirect loop (hard-mesh-time)"
Hi @jlbutler we saw you video on eksworkshop.com and we thnik you are our last hoppe.

We have more that 13 day with a (paid support) ticket open trying to set Aws App Mesh on our EKS, we have solved some issues but still not light at the end of the tunnel to get it work.

What we have?

We do have a cluster on EKS with a ALB -> pointing to a Nginx service ->then Php-fpm set on the Nginx by fastcg

[2021-10-23 00:05] cgchinmay commented on #460
Updated the [documentation](https://aws.github.io/aws-app-mesh-controller-for-k8s/reference/api_spec/) with Correct ENUMs
[code]
Glad to see that new feature for Hostname came to use in a timely manner. Closing this issue now.

[2021-10-23 00:06] #460 closed, assigned to nobody

[2021-12-20 19:27] suniltheta opened #473 "[Feature request] Walkthrough examples to deploy on Graviton instances"
**Describe the request**
Now that arm64 architecture support for App Mesh (envoy) https://github.com/aws/aws-app-mesh-roadmap/issues/215  is available update the walkthrough examples to provision Graviton ECS/EKS instances so that we can run Arm64 envoy image on them.

**Platform**
EKS, ECS, EC2, etc.

**Expected behavior**
All example walkthrough updated to be provisioned on ARM platform. Or atle

[2022-01-25 04:20] suniltheta opened #474 "[BUG] Fix howto-k8s-alb walkthrough"
**Describe the bug**
https://github.com/aws/aws-app-mesh-examples/tree/main/walkthroughs/howto-k8s-alb walkthrough example is broken. Some of the hyperlinks are pointing to outdated ALB controller.

**Platform**
EKS

[2022-01-25 04:22] suniltheta commented on #411
With https://github.com/aws/aws-app-mesh-examples/pull/456 update this is not applicable anymore. So closing this issue.

[2022-01-25 04:22] #411 closed

[2022-01-27 18:08] suniltheta commented on #474
This is fixed [see](https://github.com/aws/aws-app-mesh-examples/tree/main/walkthroughs/howto-k8s-alb )

[2022-01-27 18:08] #474 closed

[2022-02-09 21:41] suniltheta opened #477 "[BUG] Have a public ECR repo from common images generated in walkthrough"
**Describe the bug**
Today for most of the walkthrough we need to generate the app or other images locally to test them out. Images such as grpc_cli takes longer time to generate and is frustrating.

As noted in the closed PR it took 10+ minutes to get the created https://github.com/aws/aws-app-mesh-examples/pull/476

To improve the experience of users running these walkthrough we can give option

[2022-03-07 07:38] russau opened #479 "Samples using deprecated APPMESH_VIRTUAL_NODE_NAME"
I'm working through the colorapp example, and I see the ECS tasks created use `APPMESH_VIRTUAL_NODE_NAME`

There's a warning in the [docs](https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy-config.html) that this setting has been deprecated in envoy.

 I'm running `v1.21.0.0-prod` and everything works fine.  Should the example be updated to use `APPMESH_RESOURCE_ARN`?

[2022-03-13 06:13] neiljohari commented on #479
I wish I saw this earlier. This _definitely_ needs to be updated, I used latest image while debugging other issues and only made the situation take more hours to debug because of this.

[2022-03-14 12:17] saiteja313 opened #481 "Provide mTLS walkthrough for east-west traffic"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
A clear and concise description of what the bug is.

- mTLS walkthrou

[2022-04-21 18:23] codesometech opened #484 "[BUG] Custom Envoy image does not startup in mTLS example"
_**Important note on security disclosures**: If you think you’ve found a potential security issue, please do not post it in the Issues.  Instead, please follow the instructions [here](https://aws.amazon.com/security/vulnerability-reporting/) or [email AWS security directly](mailto:aws-security@amazon.com)._

**Describe the bug**
The mTLS example in the repo below is throwing an error "/bin/entryPo

[2022-04-21 23:47] #484 closed

[2022-05-12 03:57] kevinten10 commented on #425
Hi

You can refer to this project: https://github.com/capa-cloud/capa-java

Using aws appmesh while maintaining the springboot programming model.

[2022-06-27 20:22] vt102 opened #495 "[BUG] TLS examples don't work with default bash IFS"
**Describe the bug**
In https://github.com/aws/aws-app-mesh-examples/blob/main/walkthroughs/tls-with-acm/README.md Step 2: Create a Certificate, the `aws acm-pca issue-certificate` step fails as follows:

[code]

The issue appears to be the CSR format:

[code]

The cause of this weird formatting appears to be due to BASH's IFS (internal field separator) behavior.

[code]

**Platform**
Amazon Linux

[2022-06-27 20:23] vt102 commented on #495
I'll work up a PR soon.

[2022-07-12 18:06] omenking opened #500 "[QUESTION] Why an Envoy Service infront of Services with Envoy Sidecard? Why an NLB?"
Hey @gmridula @tiagoReichert 👋

## Preramble

I am currently migrating my Ruby on Rails application over to ECS Fargate with Cloud Map and App Mesh and I'm trying to make sense of two architectural design decisions that I could not find described in the article or video.

https://aws.amazon.com/blogs/containers/service-connectivity-inside-and-outside-the-mesh-using-aws-app-mesh-ecs-fargate/

I hav

[2022-07-13 22:46] omenking commented on #141
I'm having this error adopting form this codebase:

https://github.com/aws/aws-app-mesh-examples/blob/main/blogs/ecs-service-connectivity/yelb/deployments/platformdeployment/AWS/ECS/yelb-cloudformation-ECS-AppMesh-deployment.yaml

This repo has the `AWSXRayDaemonWriteAccess` but it doest not resolve the issue

[code]

[2022-11-01 20:07] nmourya opened #512 ""/bin/sh: yum: command not found" while implementing "howto-mutual-tls-file-provided" in the walkthroughs"
Issue description: While implementing the walk through available at "howto-mutual-tls-file-provided" at step #3 I came across the below error.

`/bin/sh: yum: command not found`

I was able to work around this issue by using the below Dockerfile instead.

[code]

The Dockerfile has to be updated in the walkthrough to include the line "FROM public.ecr.aws/amazonlinux/amazonlinux:2" so that the yum

[2022-11-01 20:13] suniltheta commented on #512
Thanks for noticing this. Please feel free to raise a PR if you got the walkthrough working with the necessary changes needed.

Also we might have to update the entrypoint commend from

[code]
to
[code]
since the version v1.21